// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// modal
// stylesheet for the modal component

// modalBase
// mixin avec les styles de base pour le modal
@mixin modalBase() {
    @include fixed(0, null, null, 0);
    @include wh(100%);
    z-index: 999;
    display: none;

    &[data-status='loading'] .inner {
        background-position: center;
    }

    &[data-status='loading'],
    &[data-status='ready'] {
        display: block;
    }

    > .box {
        @include abs(20%, null, null, 20%);
        @include wh(60%);
        background-color: $white;

        > .close {
            z-index: 10;
        }

        > .inner {
            max-height: 100%;
            overflow-y: auto;
        }
    }
}

// modal
// mixin pour générer les styles de base du modal avec quelques ajustements pour le CMS
@mixin modal() {
    @include modalBase();

    > .box {
        border-radius: 10px;
        @include flex(center);

        > .close {
            @include abs(-8px, -8px);

            &:hover {
                opacity: 0.8;
            }
        }

        > .inner {
            width: 100%;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: $darkColor;
        }
    }

    /* PRINT */
    @include print() {
        > .box {
            left: 0;
            top: 0;
            @include wh(100%);
            background-color: $white;
            border-radius: 0;
        }
    }

    @include responsive() {
        > .box {
            @include wh(80% !important);
            top: 10% !important;
            left: 10% !important;
        }
    }
}
