// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// component
// stylesheet for various simple componentns

// var
// variables for the CMS
$font: 'Helvetica Neue', 'Helvetica', sans-serif;
$color: #2a2b69;
$darkColor: #181844;
$darkerColor: #000;
$lightGrayAlt: #e2e5eb;
$lighterGray: #eee;
$lightestGray: #f7f7f7;
$lightGray: #ddd;
$gray: #bbb;
$midGray: #999;
$darkGray: #555;
$lightYellow: #f9fdd8;
$green: #579758;
$red: #8d1e2d;

// generalComponent
// component for the general page
@mixin generalComponent() {
    padding: 8px 10px;
    height: 100%;
    display: block;

    .empty-placeholder {
        font-style: italic;
        color: $darkGray;
        text-align: left;
    }

    a {
        @include inbl();
        color: $black;

        &:hover,
        &[data-triggered='1'] {
            color: $darkGray;
            text-decoration: underline;
        }
    }
}

// specificComponent
// mixin de base pour les éléments de formulaire complexe
@mixin specificComponent() {
    position: relative;

    > div.nothing {
        @include nothing();
    }

    > .empty-placeholder {
        font-style: italic;
        color: $gray;
    }

    > iframe {
        width: 100%;
        height: 350px;
        border: 1px solid $gray;
        background-color: $white;
    }

    > ul,
    > ol {
        list-style-type: none;

        > li {
            padding: 2px 0;
        }
    }

    a {
        color: $black;

        &:hover,
        &[data-triggered='1'] {
            color: $darkGray;
            text-decoration: underline;
        }
    }

    .fakeselect {
        min-width: 250px;
    }

    .choice {
        @include inputChoice();

        &:hover .choice-in > span {
            visibility: visible;
        }

        .choice-in {
            > span {
                visibility: hidden;
                margin-left: 5px;

                a {
                    display: block;
                }
            }
        }
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
        width: 100%;
        max-width: 1000px;
    }

    textarea {
        @include wh(100%, 200px);
        display: block;
        max-width: 1000px;
    }
}

// componentInputNumeric
// mixin pour le champ numérique
@mixin componentInputNumeric() {
    input[type='text'] {
        width: 40px;
        padding: 2px 5px;
        margin: 0 5px;
        text-align: center;
    }
}

// componentPrimaryGeneral
// mixin pour le champ primary dans général
@mixin componentPrimaryGeneral() {
    padding: 0;

    > a {
        display: block;
        height: 100%;
        padding: 8px 10px;

        &:hover,
        &[data-triggered='1'] {
            background-color: $lightYellow;
            text-decoration: none !important;
            color: $black !important;
        }
    }
}

// componentUserPasswordSpecific
// mixin pour un champ de modification de mots de passe pour user
@mixin componentUserPasswordSpecific() {
    input[type='password']:first-child {
        margin-bottom: 10px;
    }
}

// componentVideoSpecific
// mixin pour un component de video
@mixin componentVideoSpecific() {
    .video-player {
        margin-bottom: 5px;
    }
    .video-meta {
        font-size: 90%;
        margin-bottom: 10px;
    }
}

// componentTinymceSpecific
// mixin pour le component avec un tinymce
@mixin componentTinymceSpecific() {
    textarea {
        height: 350px !important;
    }
}

// componentRelationGeneral
// mixin pour une cellule de relation dans le tableau general
@mixin componentRelationGeneral() {
    @include filesShowThumbnail();

    > ul,
    > ol {
        list-style-type: none;

        > li {
            padding: 2px 0;

            &.relation-more {
                font-style: italic;
            }
        }
    }
}

// componentRelationMediaGeneral
// mixin pour une cellule de relation vers la table de la médiathèque
@mixin componentRelationMediaGeneral() {
    @include componentRelationGeneral();
    text-align: center;
}

// componentRelationSortableSpecific
// mixin pour une relation sortable (checkboxes)
@mixin componentRelationSortableSpecific() {
    .move {
        margin-right: 5px;
    }

    @include print() {
        .move {
            display: none !important;
        }
    }
}

// componentJsonArrayRelationSpecific
// mixin pour le champ jsonArrayRelation dans le formulaire
@mixin componentJsonArrayRelationSpecific() {
    .relation-export {
        padding-top: 10px;
    }
}
