/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// componentAddRemoveSpecific
// stylesheet for the addRemove form component of the CMS
@mixin componentAddRemoveSpecific() {
    > .playground {
        > .ele {
            @include flex();
            position: relative;
            margin-bottom: 10px;

            > .current {
                width: calc(100% - 75px);
            }

            > .utils {
                @include flex(center);
                width: 65px;
                margin-left: 10px;
                background-color: $lightGray;
                padding: 8px 10px;
                border-radius: 3px;
                text-align: center;

                > .icon-solo {
                    &:hover {
                        opacity: 0.6;
                    }

                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    > .insert {
        @include transitions(opacity 0.3s, background-color 0.3s);
        padding: 5px;
        text-align: center;
        background-color: $lighterGray;
        border-radius: 3px;
        width: 100%;
        border: 1px solid $lightGray;

        > span {
            @include inbl();
            font-weight: bold;
        }

        > .icon-solo {
            @include inbl();
            margin-left: 5px;
        }

        &:disabled {
            display: none;
        }

        &:not(:disabled) {
            &:hover {
                background-color: $lightGray;
            }

            &:active {
                background-color: $gray;
            }
        }
    }
}
