/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// burger
// stylesheet for the burger component of the CMS
@mixin burger() {
    @include abs(15px, null, null, 15px);
    @include transitions(background-color 0.3s);
    @include wh(32px);
    @include hoverClickState();
    display: none;
    background-color: $white;
    border: 1px solid $darkColor;
    border-radius: 3px;
    z-index: 2;
    opacity: 1 !important;

    @include responsive() {
        display: block;
    }
}
