// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// calendar
// stylesheet for the calendar component of the cms
@mixin calendar() {
    @include Calendar();

    .head {
        background-color: $darkColor;

        .prev,
        .next {
            @include trianglePrevNext(12px, null, $white, $lightGray, $gray);
            margin-top: -6px;
        }
    }

    .body {
        thead {
            background-color: $color;

            th {
                font-weight: bold;
            }
        }

        tbody td {
            > button {
                border: 1px solid $lightGray;

                &:hover {
                    background-color: $lightYellow;
                }
            }

            &.out > button {
                color: $lightGray;
            }

            &.today > button {
                background-color: $lighterGray;
            }

            &.selected > button {
                background-color: $lightYellow !important;
            }
        }
    }
}
