// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// clickOpen
// stylesheet related to clickOpen components

// popupCommon
// mixin de base pour un popup
@mixin popupCommon() {
    @include scrollbar();
    border-top-left-radius: 0;
    font-size: 1.3rem;
    border: 1px solid $lightGray;
    border-radius: 0 0 10px 10px;

    .popup {
        background: $lightGray;
        border: 1px solid $gray;
    }

    &.no-scroll {
        padding: 0;
        overflow: hidden;
    }
}

// popupTrigger
// mixin avec les styles pour le popup-trigger
@mixin popupTrigger() {
    position: relative;

    .popup-title {
        display: block;
        padding: 5px;
    }

    &[data-absolute-placeholder='ready'][data-active='1'] .popup-title {
        z-index: 3;
        @include abs(0, null, null, 0);
        white-space: nowrap;
    }

    &.with-icon {
        .popup-title {
            padding: 5px 10px 5px 25px;
            @include iconLeft();
        }
    }

    &.with-icon-solo {
        .popup-title {
            @include iconSolo();
            @include wh(24px);
        }
    }

    &.with-popup {
        .popup-title {
            @include transitions(background-color 0.3s, border-radius 0.3s);
            cursor: pointer;

            &:hover {
                background-color: $darkColor;
            }

            &:active {
                background-color: $darkerColor;
            }
        }

        &[data-active='1'],
        &:hover {
            .popup-title {
                color: $white;
                border-radius: 5px;
            }
        }

        &[data-active='1'] {
            .popup-title {
                background-color: $darkerColor;
            }
        }
    }

    .popup {
        @include popupList();
    }

    @include print() {
        display: none !important;
    }
}

// popupList
// mixin avec style pour un popup contenant une liste (ul li)
@mixin popupList() {
    padding: 10px 15px 0;

    &:after {
        content: '';
        height: 10px;
        display: block;
    }

    a {
        color: $black;

        &:hover,
        &[data-triggered='1'] {
            color: $color;
        }
    }

    ul {
        @include ulOlMargin();
    }

    > ul > li {
        padding: 4px 0;

        > span:first-child {
            font-weight: bold;
            margin-right: 5px;
        }

        .key {
            text-decoration: underline;
        }

        .value-empty {
            font-style: italic;
        }

        > ul {
            padding-top: 5px;
            word-break: break-all;
        }
    }
}

// subMenuPopup
// mixin pour le popup d'un sous-menu
@mixin subMenuPopup() {
    background-color: $darkColor;
    max-width: 200px;
    border: 0;

    > ul > li {
        position: relative;
        list-style-type: none;

        > a:first-child {
            display: block;
            color: $white;
            border-top: 0;
            padding: 10px 35px 10px 20px;

            &:hover,
            &.selected {
                background-color: $color;
            }

            &.selected {
                text-decoration: underline;
            }
        }
    }
}
