// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// colsSorter
// stylesheet for the colsSorter component of the CMS
@mixin colsSorter() {
    .close {
        @include abs(-8px, -8px);
        z-index: 4;
    }

    &[data-active='1'] .cell-inner .trigger,
    .cell-inner:hover .trigger,
    .cell-inner .trigger.selected {
        background-color: $darkerColor;
    }

    &[data-active='1'] .cell-inner > .trigger {
        z-index: 4;
    }

    .cell-inner {
        padding: 0;

        > .trigger {
            @include abs(0, null, null, 0);
            @include wh();
        }

        .popup {
            max-width: 350px;
            width: 350px;

            &[data-validate='valid'] > button.check {
                display: block;
            }

            &[data-validate='invalid'] label {
                color: $red;
            }

            .choice {
                padding: 5px 0;
                
                .choice-in {
                    @include flex();
                    @include inputChoice(4px);

                    .move {
                        margin-right: 5px;
                    }
                }
            }

            > button.check {
                @include abs(15px, 20px);
                display: none;

                &:hover,
                &[data-triggered='1'] {
                    opacity: 0.8;
                }
            }

            > .scroller {
                @include scrollbar();
                overflow-y: scroll;
                max-height: 300px;
                padding: 10px 15px;
            }
        }
    }
}
