// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// com
// stylesheet for the communication component
@mixin com() {
    @include fixed(null, 15px, 10px);
    width: 35%;
    z-index: 3;

    .close {
        @include abs(10px, 15px);
        z-index: 3;

        &:hover {
            opacity: 0.8;
        }
    }

    &[data-com='1'] > .scroller {
        .top .triangle {
            @include triangle(bottom, $darkColor, 10px);
        }
    }

    &[data-status='hidden'] {
        @include fadeOut();
    }

    > .scroller {
        @include scrollbar();
        background-color: rgba(249, 253, 216, 0.95);
        border: 2px solid $black;
        padding: 10px;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        max-height: 50vh;

        .top {
            @include flex();

            .triangle {
                @include triangle(right, $darkColor, 10px);
            }

            .date {
                cursor: pointer;
                margin-left: 8px;

                &:hover {
                    color: $darkGray;
                }
            }
        }

        .spacer {
            padding-bottom: 3px;
            border-bottom: 1px solid $gray;
        }

        .bottom {
            @include transition(height, 0.5s);
            height: 0;
            overflow: hidden;

            .table > span,
            .row > span {
                font-weight: bold;
            }

            .row.insert,
            .row.update {
                > span {
                    @include transitions(color 0.3s);
                    cursor: pointer;

                    &:hover,
                    &[data-triggered='1'] {
                        color: $darkGray;
                    }
                }
            }

            ul {
                @include ulOlMargin();

                li {
                    padding-top: 3px;
                }
            }

            > ul {
                margin-left: 2rem;

                > li {
                    padding-top: 8px;
                }
            }
        }
        .pos {
            color: $green;
        }
        .neg {
            color: $red;
        }
    }

    @include responsive() {
        max-height: inherit;
        display: block;
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
        padding: 5px;
        margin-bottom: 10px;
    }

    @include print() {
        display: none !important;
    }
}
