// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// enumSet
// stylesheet for the enumSet component

// componentEnumSetSpecific
// mixin pour un component enumSet dans le formulaire
@mixin componentEnumSetSpecific() {
    @include enumSet();
    @include imageLegend();
}

// enumSet
// mixin avec des styles de base pour un champ enumSet (recherche dans relation)
@mixin enumSet() {
    .nothing {
        font-weight: bold;
    }

    &[data-active='1'] [data-absolute-placeholder='ready'] > .input {
        z-index: 4;
        @include abs(0, null, null, 0);
    }

    > .input-popup {
        position: relative;

        .input {
            width: 100%;
            @include flex(stretch, stretch, wrap);

            input[type='text'] {
                width: 80%;
                max-width: 250px !important;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button {
                @include hoverClickState();
                width: 32px;
                height: auto;
                background-color: $lightGray;
                border: 1px solid $lightGray;
                border-left: 0;
            }
        }

        > .popup {
            @include enumSetPopup();
        }
    }

    > .current {
        padding-top: 5px;
    }

    @include print() {
        .input-popup {
            display: none !important;
        }
    }
}

// enumSetPopup
// mixin avec des styles pour le popup d'un enum set
@mixin enumSetPopup() {
    @include filterPopupBase();

    .order {
        text-align: center;
        padding: 5px 0;
    }

    .results ul li {
        &:first-child > button {
            border-top: 0;
        }

        > button {
            @include filterElementBase();

            &[data-in='1'] {
                background-color: $red !important;
                color: $white;
            }
        }
    }
}
