// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// fakeSelect
// stylesheet for the fakeSelect component of the CMS

// fakeSelect
// mixin pour styliser un faux menu de sélection
@mixin fakeSelect() {
    @include FakeSelect();
    @include fakeSelectTrigger();

    > .options {
        @include popupCommon();
        border-radius: 5px;

        > ul > li > button {
            padding: 5px 10px;
            border-top: 1px solid $lighterGray;

            @include hoverClickState("[data-selected='1']");
        }
    }
}

// fakeSelectTrigger
// mixin pour le trigger d'un fakeselect
@mixin fakeSelectTrigger() {
    &[data-validate='invalid'] > .trigger {
        background-color: $red;
        color: $white;
        border: 1px solid $red;
    }

    &[data-disabled='1'] > .trigger {
        background-color: $gray;
    }

    > .trigger {
        padding: 5px 40px 5px 12px;
        border-radius: 5px;
        border: 1px solid $gray;
        background-color: $white;

        > .ico {
            @include abs(50%, 10px);
            @include triangle(bottom, $color, 10px);
            margin-top: -4px;
        }
    }

    &[data-active='1'] > .trigger,
    > .trigger:hover {
        background-color: $lightYellow;
    }

    > .trigger:active {
        background-color: $lightGray;
    }
}
