// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// filter
// stylesheet for the filter component of the CMS

// filterTogglerOuter
// mixin pour le toggler du filter dans general
@mixin filterTogglerOuter() {
    @include transition(background-color);
    z-index: 4;

    .close {
        @include abs(-8px, -8px);
        z-index: 4;
    }

    &:hover,
    &.filtering,
    &[data-active='1'] {
        background-color: $darkerColor;
    }

    &[data-active='1'].trigger {
        z-index: 4;
    }

    > .trigger {
        @include wh();

        .filter {
            @include abs(50%, null, null, 50%);
            @include transition(opacity);
            margin-top: -7px;
            margin-left: -8px;
            background-position: 0px 0px;
            display: block;
        }
    }

    > .popup {
        @include filterPopup();
    }
}

// filterPopupTop
// mixin pour la partie supérieure du popup filter avec search et order
@mixin filterPopupTop() {
    padding: 10px;
    display: block;

    .input-search {
        position: relative;

        input[type='text'] {
            width: 100%;
            padding-right: 25px;
        }

        button {
            @include abs(50%, 8px);
            margin-top: -8px;
        }
    }

    .spacing {
        height: 5px;
    }

    .order {
        text-align: center;
    }
}

// filterPopupBase
// mixin avec des styles commons pour le popup d'un filtre et enum set
@mixin filterPopupBase() {
    width: 350px;
    max-width: 350px;
    max-height: 300px;
    cursor: default;
    font-weight: 300;

    .fakeselect .options {
        top: 100% !important;
        left: 0 !important;
        right: auto !important;
        bottom: auto !important;
    }

    .results {
        display: block;

        h3 {
            @include filterNotFound();
        }

        ul {
            list-style-type: none;
            text-indent: 0;
            padding: 0;

            li {
                position: relative;
                padding: 0px;

                > .load-more {
                    @include loadMore();
                }
            }
        }
    }
}

// filterPopup
// mixin avec des styles pour le popup d'un filtre
@mixin filterPopup() {
    @include filterPopupBase();

    .top {
        @include filterPopupTop();
    }

    .results ul {
        &.selected-list {
            border-bottom: 4px solid $lightGray;
        }

        li {
            &:first-child > .replace {
                border-top: 0;
            }

            &.has-icon > .replace {
                padding-right: 30px;
            }

            &.has-icon .icon-solo {
                @include iconSolo();
            }

            > a.replace {
                @include filterElementBase();
            }

            a.icon-solo {
                @include abs(50%, 5px);
                @include wh(16px, true, null, true);

                &:hover,
                &[data-triggered='1'] {
                    opacity: 0.5;
                }
            }
        }
    }
}

// filterElementBase
// mixin avec des styles commons pour un élément d'un filtre et enum set
@mixin filterElementBase() {
    @include filterElementLink();
    @include flex(center);

    .label-content {
        @include imageLegend();
        display: block;
        max-width: 80%;
    }

    .label-count {
        display: block;
        height: 16px;
        min-width: 16px;
        padding: 0 3px;
        text-align: center;
        border-radius: 5px;
        background-color: $midGray;
        line-height: 16px;
        color: $white;
        margin-left: 10px;
        font-size: 90%;
    }
}

// filterElementLink
// mixin de style de base pour le lien dans le popup
@mixin filterElementLink() {
    @include transitions(background-color 0.3s);
    @include hoverClickState($selector2: '.selected');
    cursor: pointer;
    display: block;
    text-align: center;
    position: relative;
    border-top: 1px solid $lightGray;
    padding: 5px 10px;
    width: 100%;
}

// filterNotFound
// style de base pour le message si aucun résultat
@mixin filterNotFound() {
    text-align: center;
    padding: 10px;
}
