// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// homeFeed
// stylesheet for the home feed component of the CMS
@mixin homeFeedComponent() {
    > .block-head {
        padding-right: 10px;
        @include flex(space-between, center, wrap);

        > .feed-filter {
            @include tableRelationFull('.user-relation');

            .user-relation {
                > .feed-reset {
                    @include abs(-8px, -8px);
                    z-index: 1;
                    display: none;
                }

                &[data-selected='1'] > .feed-reset {
                    display: block;
                }

                > .popup .results .feed-anchor {
                    @include filterElementLink();
                }
            }
        }
    }

    > .block-body {
        .nothing {
            @include nothing(true);
            padding: 20px;
        }

        .row-element {
            @include blockFeedElement();
        }

        .load-more {
            @include loadMore();
        }
    }

    > .block-body .row-element > a {
        @include flex(flex-start, stretch);
        padding-left: 15px;

        > .media {
            width: 60px;
            margin-right: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        > .title-commit {
            width: 80%;

            > .commit {
                font-size: 90%;

                > .label {
                    text-decoration: underline;
                }

                > .user {
                    margin-left: 3px;
                }

                > .separator {
                    margin: 0 5px;
                }
            }
        }
    }
}
