/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// inputNumericRange
// styles for the integerRange component of the CMS
@mixin componentInputNumericRange($maxWidth: 120px) {
    @include InputNumericRange();

    > button {
        width: 32px;
        background-color: $lightGray;
        border: 1px solid $lightGray;

        &.minus {
            border-right: 0;
        }

        &.plus {
            border-left: 0;
        }

        &:not(:disabled):hover {
            background-color: $lightYellow;
        }

        &:not(:disabled):active {
            background-color: $gray;
        }
    }

    > input[type='text'] {
        width: 50%;
        max-width: $maxWidth !important;
        border-radius: 0;
    }
}
