/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// componentJsonRelationSpecific
// mixin pour le champ jsonRelation dans le formulaire
@mixin componentJsonRelationSpecific() {
    .relation-export {
        padding-top: 10px;
    }
}

// componentJsonModelSpecific
// mixin pour le champ jsonModel dans le formulaire
@mixin componentJsonModelSpecific() {
    > .playground > .ele {
        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $lightGray;
        }

        .table {
            height: auto;
        }

        .label-cell {
            width: 150px;
            padding-right: 15px;
        }

        textarea {
            height: 75px;
        }

        .model-form-element:not(:first-child) {
            padding-top: 10px;
        }
    }
}