// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// mainNav
// stylesheet for the main navigation component
@mixin mainNav() {
    > ul {
        padding: 0;
        list-style-type: none;

        > li {
            > a:first-child {
                display: block;
            }

            > a:first-child,
            > .trigger {
                padding: 8px 15px;
                color: $white;
                border-top: 1px solid $color;
            }

            &:hover > a:first-child,
            &:hover > .trigger,
            > a:first-child[data-triggered='1'] {
                background-color: $color;
            }

            &[data-carousel='1'] > a:first-child,
            &[data-carousel='1'] > .trigger {
                background-color: $darkColor;
            }

            &:last-child > a:first-child,
            &:last-child > .trigger {
                border-bottom: 0;
            }

            &[data-carousel='1'] > a:first-child,
            > a:first-child.selected {
                background-color: $color;
                text-decoration: underline;
            }

            &.top > a:first-child,
            &.top > .trigger {
                text-decoration: underline;
            }
        }

        li.with-specific-add {
            position: relative;

            > a:first-child {
                padding-right: 30px !important;
            }

            > .specific-add {
                @include abs(50%, 10px);
                margin-top: -8px;
                z-index: 3;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    > ul > li.with-carousel {
        > .trigger {
            @include flex();
            cursor: pointer;
            width: 100%;

            .triangle {
                @include triangle(right, $white, 10px);
                margin-right: 8px;
            }

            &:hover .triangle {
                @include triangle(right, $gray, 10px);
            }
        }

        > .target {
            @include transition(height, 0.5s);
            height: 0;
            overflow: hidden;
            visibility: hidden;
            
            > ul > li > a:first-child {
                display: block;
                padding: 4px 15px 4px 32px;
                color: $white;
                font-size: 90%;
                border-top: 1px solid $color;

                &:hover,
                &.selected,
                &[data-triggered='1'] {
                    background-color: $color;
                }

                &.selected {
                    text-decoration: underline;
                }
            }
        }
        
        &[data-carousel='1'] {
            > .trigger {
                background-color: $darkerColor;

                .triangle {
                    margin-top: 2px;
                    @include triangle(bottom, $gray, 10px);
                }
            }
            
            > .target {
                visibility: visible;
            }
        }
    }

    // responsive
    @include responsive() {
        text-align: center;

        > ul > li.with-carousel > .trigger {
            justify-content: center;
        }

        li > a:first-child {
            padding-left: 30px !important;
        }
    }
}
