// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// modal
// stylesheet for the modal component

// modalBox
// mixin avec styles pour le modal
@mixin modal() {
    @include Modal();

    > .box {
        @include modalBox();
    }
}

// modalBox
// mixin avec styles pour la boîte du modal
@mixin modalBox() {
    border-radius: 10px;
    @include flex(center);

    > .close {
        @include abs(-8px, -8px);

        &:hover {
            opacity: 0.8;
        }
    }

    > .inner {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: $darkColor;
        
        > a {
            color: $darkColor;
            
            &:hover {
                color: $darkerColor;
            }
        }
    }

    @include print() {
        left: 0;
        top: 0;
        @include wh(100%);
        background-color: $white;
        border-radius: 0;
    }

    @include responsive() {
        @include wh(80% !important);
        top: 10% !important;
        left: 10% !important;
    }
}

// modalForm
// mixin pour un formulaire de base dans le modal
@mixin modalForm() {
    @include formBase();

    .info {
        margin-bottom: 20px;
    }

    .form {
        max-width: 500px;
        margin: auto;

        .fields {
            padding-bottom: 10px;
        }

        .action {
            button {
                margin: 0 5px;
            }
        }
    }

    .form .fields > .field {
        margin-bottom: 20px;

        > .table {
            width: 100%;
            text-align: left;

            .table-cell.label-cell {
                padding-right: 15px;
            }

            .table-cell:first-child {
                width: 30%;
            }
        }
    }
}
