/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// rowsChecker
// stylesheet for the rowsChecker component of the CMS

// rowsChecker
// gère les styles pour les checkboxes à gauche des lignes d'une table
@mixin rowsChecker() {
    width: 40px;
    min-width: inherit;
    text-align: center;

    .cell-inner {
        input[type='checkbox'] {
            @include abs(50%, 50%);
            z-index: 1;
        }

        > label {
            @include wh();
            @include abs(0, 0);
            z-index: 1;
            padding: 0;
            background-position: center;

            &:hover {
                background-color: $lightYellow;
            }
        }
    }
}

// rowsCheckerToggleAll
// mixin pour le toggle all des rows
@mixin rowsCheckerToggleAll() {
    .close {
        @include abs(-8px, -8px);
        z-index: 4;
    }

    .cell-inner {
        padding: 0;

        button {
            @include wh();

            &.selected,
            &:hover {
                background-color: $darkerColor;
            }

            .uncheck {
                display: none;
            }

            &.all-checked {
                .check {
                    display: none;
                }

                .uncheck {
                    display: block;
                }
            }
        }
    }
}

// rowsCheckerTools
// mixin pour les styles de l'espace outil lorsqu'une row est checked
@mixin rowsCheckerTools() {
    @include toolBox();
    visibility: hidden;
    border: 1px solid $lightGray;
    border-radius: 5px;

    &[data-status='visible'] {
        visibility: visible;
    }

    > .tool-element {
        &.multi-modify,
        &.multi-delete-form {
            display: none;

            &[data-visible='1'] {
                display: block;
            }
        }
    }
}
