/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// searchSlide
// mixin for the searchSlide component of the CMS
@mixin searchSlide() {
    > .form {
        @include flex();
        margin-bottom: 5px;
    }

    > .form > .input {
        position: relative;
        margin-right: 10px;

        input[type='text'] {
            width: 200px;
        }

        > .close {
            @include abs(-8px, -8px);
            @include statesOpacity();
        }
    }

    > .in {
        @include transition(height, 0.3s);
        height: 0;
        overflow: hidden;
        max-width: 450px;
        font-size: 90%;

        div span:first-child {
            font-weight: bold;
            margin-right: 3px;
        }
    }

    @include responsive() {
        > .form {
            justify-content: center;
        }

        > .in {
            margin: auto;
        }
    }

    @include print() {
        display: none;
    }
}
