/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// searchAutoInfo
// stylesheet for the main search component of the CMS
@mixin searchAutoInfo() {
    margin: auto;
    position: relative;

    input[type='text'] {
        @include inputTextEvents();
        display: block;
        background-color: $lightGrayAlt;
        width: 100%;
        border-radius: 0;
        border: 0;
        padding: 0;
        height: 31px;
        padding-left: 40px;
        margin: auto;
        border-bottom: 2px solid $color;
    }

    &[data-search-info='1'] [data-absolute-placeholder='ready'] input[type='text'],
    &[data-active='1'] [data-absolute-placeholder='ready'] input[type='text'] {
        z-index: 4;
        @include abs(0, null, null, 0);
    }

    &[data-search-info='1'] input[type='text'],
    &[data-active='1'] input[type='text'] {
        background-color: $lightYellow;
    }

    .icon-solo {
        @include abs(50%, null, null, 15px);
        margin-top: -8px;
        z-index: 4;
    }

    .popup {
        > ul > li {
            > a {
                @include filterElementLink();
            }

            &:first-child > a {
                border-top: 0;
            }
        }

        > h3 {
            @include filterNotFound();
        }
    }

    .search-info {
        @include ClickOpenPopup();
        @include popupCommon();
        padding: 15px;

        > .first {
            margin-bottom: 5px;
        }

        > .first,
        > .second {
            span:first-child {
                font-weight: bold;
                margin-right: 3px;
            }
        }

        &[data-active='1'] {
            display: block;
        }
    }

    .popup,
    .search-info {
        width: 100%;
        max-width: inherit;
        max-height: 225px;
    }

    // responsive
    @include responsive() {
        max-width: 450px;

        input[type='text'] {
            @include inputTextBase();
            padding-left: 40px;
        }
    }
}
