// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// componentTextareaExtraSpecific
// mixin pour un component textarea extra dans le formulaire
@mixin componentTextareaExtraSpecific() {
    .relations-container {
        @include flex(center, center, wrap);
        padding-top: 3px;

        [data-absolute-placeholder] {
            margin: 3px;

            &[data-absolute-placeholder='ready'] .table-relation[data-active='1'] {
                z-index: 3;
                @include abs(0, null, null, 0);
            }
        }

        .table-relation {
            @include fakeSelectTrigger();

            > .popup {
                @include tableRelationPopup();
            }
        }
    }
}

// tableRelationPopup
// mixin pour le popup de relation de table
@mixin tableRelationPopup() {
    @include filterPopupBase();

    .top {
        @include filterPopupTop();
    }

    .results ul li {
        &:not(:first-child) {
            border-top: 1px solid $lightGray;
        }

        .insert {
            @include transitions(background-color 0.3s);
            @include imageLegend();
            padding: 5px 10px;
            text-align: center;
            width: 100%;

            .big-icon {
                @include wh(64px);
                display: block;
                margin: auto;
                margin-bottom: 3px;
                background-size: contain;
            }

            &:hover {
                background-color: $lightYellow;
            }

            &:active {
                background-color: $lightGray;
            }
        }

        > .medias > .legend {
            background-color: $lightGray;
            text-align: center;
            font-weight: bold;
            padding: 5px 0;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }
}
