// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// tooltip
// stylesheet for the tooltip component
@mixin tooltip() {
    @include Tooltip();

    > .tooltip-content {
        background-color: $lightYellow;
        padding: 5px 10px;
        font-size: 80%;
        text-align: center;
        border: 1px solid $lightGray;
        border-radius: 3px;
        box-shadow: 2px 2px 6px -4px $black;
        max-width: 225px;
    }

    > .tooltip-arrow {
        @include abs(100%, null, null, 50%);
        @include triangle(bottom, $gray, 6px);
        margin-left: -3px;
        display: none;
    }

    &[data-viewport='1'] > .tooltip-arrow {
        display: block;
    }
}
