// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// rowsChecker
// stylesheet for the rowsChecker component

// rowsChecker
// gère les styles pour les checkboxes à gauche des lignes d'une table
@mixin rowsChecker() {
    width: 40px;
    min-width: inherit;
    text-align: center;

    .in {
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            background-color: $lightYellow;
        }
    }

    input[type='checkbox'] {
        @include inbl();
        @include abs(50%, '', '', 50%);
        @include wh(12px);
        margin-top: -6px;
        margin-left: -6px;
        text-align: center;
    }
}

// rowsCheckerTools
// mixin pour les styles de l'espace outil lorsqu'une row est checked
@mixin rowsCheckerTools() {
    visibility: hidden;

    > .icon {
        @include inbl(bottom);
        margin-right: 5px;
    }

    .multi-delete {
        @include inbl(bottom);
    }
}
