// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// inputFiles
// stylesheet for the files upload inputs component

// componentFilesSpecific
// style pour le component files dans le formulaire
@mixin componentFilesSpecific() {
    .file-block {
        @include filesBlock();
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// componentFilesGeneral
// mixin pour l'affichage d'un champ media/medias dans general
@mixin componentFilesGeneral() {
    @include filesShowThumbnail();
    text-align: center;

    .slider {
        position: relative;
        padding: 0 20px;

        .prev,
        .next {
            @include trianglePrevNext(14px);
            margin-top: -5px;
            display: none;
            
            &[data-direction='1'] {
                display: block;
            }
        }

        .prev {
            @include abs(50%, null, null, 0);
        }

        .next {
            @include abs(50%, 0);
        }

        .slider-element {
            display: none;

            &[data-active='1'] {
                display: block;
            }
        }
    }
}

// filesBlock
// mixin avec les styles pour un bloc du champ de chargement de fichiers
@mixin filesBlock() {
    width: 500px;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $lightGray;

    &:first-child {
        margin-top: 0;
    }

    &.with-action {
        .info,
        .actions,
        .versions {
            display: none;
        }

        .form .message {
            @include flex(center);
        }
    }

    .count-circle {
        @include flex(center);
        @include abs(10px, 10px);
        @include wh(24px);
        background-color: $white;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid $lightGray;

        > .count {
            line-height: 1;
        }
    }

    .actions {
        @include abs(-8px, -8px);
        @include flex();

        > .action {
            margin-left: 4px;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .form {
        background-color: $lightGray;
        padding: 10px;

        .message {
            display: none;
            font-weight: bold;

            .close {
                margin-left: 4px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .info {
        @include imageLegend();
        padding: 10px;
        text-align: left;
        text-align: center;

        > a {
            @include inbl();

            &:hover,
            &[data-triggered='1'] {
                opacity: 0.8;
            }

            &:first-child {
                margin-bottom: 10px;
            }
        }

        .media-placeholder {
            @include wh(64px);
            margin: auto;
        }

        .line {
            @include flex(center);

            .notFound {
                @include nothing();
                margin-bottom: 3px;
            }

            a.filename {
                text-decoration: underline;
            }

            .filesize {
                margin-left: 10px;
                font-weight: bold;
            }
        }
    }

    .versions {
        padding: 10px;
        background-color: $lightestGray;
        font-size: 90%;

        > ul {
            @include ulOlMargin();

            > li {
                padding-top: 5px;

                &:first-child {
                    padding-top: 0;
                }

                > span.notFound,
                > span.filesize {
                    margin-left: 5px;
                    font-weight: bold;
                }

                > a {
                    text-decoration: underline;
                    margin-left: 5px;
                }
            }
        }
    }

    @include responsive() {
        width: 100%;
    }

    /* PRINT */
    @include print() {
        .actions,
        .form,
        &.empty {
            display: none !important;
        }
    }
}

// filesShowThumbnail
// mixin pour afficher une image dans une cellule du tableau general
@mixin filesShowThumbnail() {
    @include imageLegend();

    a {
        .thumbnail,
        .media-placeholder {
            @include transitions(opacity 0.3s);
            text-align: center;
            display: block;
        }

        &:hover,
        &[data-triggered='1'] {
            .thumbnail,
            .media-placeholder {
                opacity: 0.8;
            }
        }
    }

    .media-placeholder {
        @include wh(64px);
        margin: auto;
        margin-bottom: 3px;
    }
}
