// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// var
// stylesheet that contains variables the CMS
$font: 'Helvetica Neue', 'Helvetica', sans-serif;
$color: #2a2b69;
$darkColor: #181844;
$darkerColor: #000;
$lightGrayAlt: #e2e5eb;
$lighterGray: #eee;
$lightestGray: #f7f7f7;
$lightGray: #ddd;
$gray: #bbb;
$midGray: #999;
$darkGray: #555;
$lightYellow: #f9fdd8;
$green: #579758;
$red: #8d1e2d;
