// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// calendar
// stylesheet for the calendar component
@mixin calendar() {
    .head {
        padding: 5px;
        background-color: $darkColor;
        position: relative;

        .prev,
        .next {
            @include trianglePrevNext(12px,null,$white,$lightGray,$gray);
            margin-top: -6px;
        }

        .prev {
            @include abs(50%, null, null, 10px);
        }

        .next {
            @include abs(50%, 10px);
        }

        .current {
            text-align: center;
            font-size: 120%;
            color: $white;
        }
    }
    .body {
        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background-color: $color;

            th {
                padding: 3px;
                color: $white;
                text-align: center;
                font-weight: bold;
            }
        }

        tbody {
            td {
                > button {
                    box-sizing: border-box;
                    color: $black;
                    border: 1px solid $lightGray;
                    text-align: center;
                    padding: 3px;
                    width: 100%;

                    &:hover {
                        background-color: $lightYellow;
                    }
                }

                &.out > button {
                    color: $lightGray;
                }

                &.today > button {
                    background-color: $lightGray;
                }

                &.selected > button {
                    background-color: $lightYellow !important;
                }
            }
        }
    }
}