// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// inputSearch
// stylesheet for the inputSearch component
@mixin inputSearch() {
    > .input {
        position: relative;
        margin-right: 10px;

        input[type='text'] {
            width: 200px;
        }

        > .close {
            @include abs(-8px, -8px);

            &:hover,
            &[data-triggered='1'] {
                opacity: 0.8;
            }
        }
    }
}