/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// style
// stylesheet containing the root styling rules as well as common classes for the CMS

/* INIT */
@include defaultClasses();
@include defaultAnimation();

/* HTML */
@include Document('.route-wrap', $gray);

body {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    @include scrollbar();
}

/* TITRE */
h1 {
    font-size: 2.2rem;
    font-weight: 600;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

/* FORM */
@include inputsTextarea {
    @include inputTextBase();
}
@include inputRadioCheckbox();

input[type='radio'] + label,
input[type='checkbox'] + label {
    padding-left: 22px;
    background-size: 14px 14px;
    background-position: 0% 50%;
}
label[for]:hover {
    color: $darkGray;
}
button[type='submit'] {
    @include button();
}
button[type='button'] {
    line-height: 1.5;
}
*[data-disabled='1'] *:disabled {
    cursor: no-drop !important;
}
input[type='radio']:disabled + label,
input[type='checkbox']:disabled + label {
    cursor: no-drop !important;
}
body a.with-icon,
body button.with-icon,
body input[type='submit'].with-icon,
body .trigger.with-icon {
    @include button();
    @include iconLeft();
}

/* ICON */
body .icon-solo {
    @include iconSolo();

    &.icon-center {
        @include abs(50%, null, null, 50%);
        margin-left: -8px;
        margin-top: -8px;
    }
}

/* OPACITY */
body .icon-solo.search,
html body .icon-solo.move {
    @include statesOpacity();
}

/* LOADING */
body .loading-icon,
body [data-status='loading'] .calendar-popup,
body [data-status='loading'] .popup,
body [data-status='loading'].popup,
.load-more[data-status='loading'],
.block-body[data-status='loading'],
.modal[data-status='loading'] .inner,
td[data-quick-edit='1'][data-status='loading'] > .cell-inner > a.quick-edit {
    background-size: 16px 16px;
}

/* ERROR */
.ajax-parse-error {
    text-align: center;

    h1,
    h2 {
        margin-bottom: 5px;
    }

    h3 {
        margin-bottom: 10px;
    }

    .back {
        @include wysiwyg();
    }
}

/* COMPONENT */
body {
    @include ClickOpen('.popup', 5);

    .popup {
        @include popupCommon();
    }
}
body > .tooltip {
    @include tooltip();
}
form {
    @include Form();
}
body > .modal {
    @include modal();
}
[data-absolute-placeholder] {
    @include AbsolutePlaceholder();
}
.fakeselect {
    @include fakeSelect();
}
.popup-trigger {
    @include popupTrigger();
}
.general-component {
    @include generalComponent();
}
.specific-component {
    @include specificComponent();
}

// primary
[data-cell='primary'][data-link='1'] .general-component {
    @include componentPrimaryGeneral();
}

// date
[data-group='date'] .specific-component {
    @include componentInputCalendarSpecific();
}

// relation
[data-group='relation'][data-tag='search'] .specific-component {
    @include componentEnumSetSpecific();
}
[data-group='relation'][data-sortable='1'] .specific-component {
    @include componentRelationSortableSpecific();
}
[data-group='relation'] .general-component {
    @include componentRelationGeneral();
}
[data-group='relation'][data-relation-table='media'] .general-component {
    @include componentRelationMediaGeneral();
}

// files
[data-group='media'] .specific-component {
    @include componentFilesSpecific();
}
[data-group='media'] .general-component {
    @include componentFilesGeneral();
}

// addRemove
[data-tag='add-remove'] .specific-component {
    @include componentAddRemoveSpecific();
}

// jsonArrayRelation
[data-col='jsonArrayRelation'] .specific-component {
    @include componentJsonArrayRelationSpecific();
}

// tableRelation
[data-table-relation='1'] .specific-component {
    @include componentTextareaExtraSpecific();
}

/* userPassword */
[data-col='userPassword'] .specific-component {
    @include componentUserPasswordSpecific();
}

// video
[data-group='video'] .specific-component {
    @include componentVideoSpecific();
}

// tinymce
[data-group='tinymce'] .specific-component {
    @include componentTinymceSpecific();
}

// inputNumericRange
[data-tag='inputNumericRange'] .specific-component {
    @include componentInputNumericRange();
}

// crypt
[data-col='crypt'] .specific-component,
[data-col='crypt'] .general-component {
    @include componentCryptGeneralSpecific();
}

// error
[data-col='error'] .specific-component {
    @include componentErrorSpecific();
}
