/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// general
// stylesheet for the general navigation page of the CMS

/* TOP */
[data-route='general'] main .inner > .top .left .search {
    @include searchSlide();
    padding-top: 5px;
}
[data-route='general'] main .inner > .top .right {
    > .operation {
        @include flex(flex-end);
        margin-bottom: 15px;

        > .operation-element:not(:first-child) {
            margin-left: 10px;
        }
    }

    > .limit {
        @include componentInputNumeric();

        > span {
            margin-left: 5px;
        }
    }

    @include responsive() {
        > .operation {
            justify-content: center;
        }

        > .limit {
            text-align: center;
        }
    }
}

/* MAIN */
[data-route='general'] main .inner > .container {
    &.empty {
        .notFound {
            margin-bottom: 10px;
        }
    }

    .notFound {
        @include nothing(true);
    }

    .above {
        @include flex();

        .left {
            width: 50%;
            text-align: left;
        }
        .right {
            width: 50%;
            text-align: right;
        }
    }

    .bellow {
        .right {
            padding: 10px 0;
            text-align: right;
        }
    }

    > .scroller {
        @include ScrollDrag(tbody);
        @include scrollbar(true);
        padding-top: 10px;
        min-height: 400px;
    }

    @include print() {
        .above,
        .bellow {
            display: none !important;
        }
    }
}

/* TOOL */
[data-route='general'] main .inner > .container .above .tools-container {
    @include rowsCheckerTools();
}

/* PAGE */
[data-route='general'] main .inner > .container .page-input {
    @include flex(flex-end, center);

    a.triangle {
        @include trianglePrevNext();

        &.prev {
            margin-right: 8px;
        }

        &.next {
            margin-left: 8px;
        }
    }

    .center {
        @include componentInputNumeric();
        display: flex;

        > input[type='text'] {
            margin: 0 5px;
        }
    }
}

/* TABLE */
[data-route='general'] main .container > .scroller > table {
    @include tableBase();

    [data-anchor-corner='bottom-left'] .popup,
    [data-anchor-corner='bottom-right'] .popup {
        top: 100%;
        bottom: inherit;
    }
}
[data-route='general'] main .container > .scroller > table > thead > tr > th {
    min-width: 150px;

    &:first-child .cell-inner {
        border-left: 1px solid $darkColor;
    }

    .close {
        @include statesOpacity();
    }

    .cell-inner {
        @include flex();
        @include transitions(background-color 0.3s, border 0.3s);
        height: 100%;
        padding: 10px;
        position: relative;
        text-align: left;
        border-right: 1px solid $darkColor;

        .label {
            color: $white;
            font-size: 90%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

/* PRIMARY */
[data-route='general'] main .container > .scroller > table > thead > tr > th[data-col='primary'] {
    min-width: 80px;
}

/* ROWS */
[data-route='general'] main .container > .scroller > table > thead > tr > .rows {
    @include rowsCheckerToggleAll();
    min-width: 40px;
    width: 40px;
}

/* COLS */
[data-route='general'] main .container > .scroller > table > thead > tr > th.action {
    @include colsSorter();
    min-width: 40px;
    width: 40px;
}
[data-route='general'] main .container > .scroller > table > tbody > tr > td.action .cell-inner {
    @include hoverClickStateBackground();
}

/* ORDER */
[data-route='general'] main .container > .scroller > table > thead > tr > th.orderable {
    .label {
        padding-right: 30px;
    }

    .right {
        @include abs(0, -1px);
        @include wh(30px, 100%);
        cursor: pointer;
        @include transition(background-color);

        .triangle {
            @include abs(50%, null, null, 50%);
            @include transition(opacity);
            margin-top: -5px;
            margin-left: -5px;
            display: block;
            opacity: 0.2;
        }
    }

    .right:hover,
    .right#{$defaultClickState},
    &.ordering .right {
        background-color: $darkerColor;

        .label {
            color: $gray;
        }

        .triangle {
            opacity: 1;
        }
    }

    &[data-direction='asc'] .right .triangle {
        @include triangle(top, $white, 12px);
    }
    &[data-direction='desc'] .right .triangle {
        @include triangle(bottom, $white, 12px);
    }
    &[data-direction='asc'] .right:hover .triangle,
    &[data-direction='asc'] .right#{$defaultClickState} .triangle,
    &[data-direction='asc'].ordering .right .triangle {
        @include triangle(top, $lightYellow, 12px);
    }
    &[data-direction='desc'] .right:hover .triangle,
    &[data-direction='desc'] .right#{$defaultClickState} .triangle,
    &[data-direction='desc'].ordering .right .triangle {
        @include triangle(bottom, $lightYellow, 12px);
    }
}

/* FILTER */
[data-route='general'] main .container > .scroller > table > thead > tr > th.filterable {
    .filter-outer {
        @include abs(0, null, null, 0);
        @include wh(30px, 100%);
        @include filterTogglerOuter();
    }

    .label {
        padding-left: 30px;
    }
}

/* TBODY */
[data-route='general'] main .container > .scroller > table > tbody {
    > tr {
        &.highlight,
        &[data-checked='1'] {
            background-color: $lightYellow !important;
        }

        > td:first-child > .cell-inner {
            border-left: 1px solid $lighterGray;
        }
    }

    > tr > td {
        > .cell-inner {
            @include transition(background-color);
            border-right: 1px solid $lighterGray;
            border-bottom: 1px solid $lighterGray;
            height: 100%;
            min-height: 15px;
            color: $black;
            position: relative;
            display: block;

            > * {
                box-sizing: border-box;
            }
        }
    }
}
[data-route='general'] main .container > .scroller > table > tbody > tr > td {
    &[data-quick-edit='1'] {
        @include quickEdit();
    }

    &.rows {
        @include rowsChecker();
    }
}
