// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// home
// stylesheet for the home route of the CMS

/* HOME */
[data-route='home'] main .inner > .bottom {
    @include flex(center, flex-start);

    > .left {
        flex-grow: 1;
    }

    > .right {
        min-width: 275px;
        margin-left: 20px;
    }

    .block {
        @include block();
    }

    @include responsive(500px) {
        @include flexCol();

        > .left {
            width: 100%;
            margin: 0 0 20px;
        }

        > .right {
            width: 100%;
            margin: 0;
        }
    }
}
[data-route='home'] main .inner > .bottom .home-feed {
    > .block-head {
        padding-right: 10px;
        @include flex(space-between, center, wrap);

        > .feed-filter {
            @include tableRelationFull('.user-relation');

            .popup .results .feed-anchor {
                @include filterElementLink();
            }
        }
    }

    > .block-body {
        .nothing {
            @include nothing(true);
            padding: 20px;
        }

        .row-element {
            @include blockFeedElement();
        }

        .load-more {
            @include loadMore();
        }
    }
}
[data-route='home'] main .inner > .bottom .home-feed > .block-body .row-element > a {
    @include flex(flex-start, stretch);
    padding-left: 15px;

    > .media {
        width: 10%;
        margin-right: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    > .title-commit {
        width: 80%;

        > .commit {
            font-size: 90%;

            > .label {
                text-decoration: underline;
            }

            > .user {
                margin-left: 3px;
            }

            > .separator {
                margin: 0 5px;
            }
        }
    }
}
[data-route='home'] main .inner > .bottom .home-overview {
    .block-body {
        > .table-element {
            @include blockFeedElement();

            > a .count {
                font-size: 90%;
            }
        }
    }
}
