/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// home
// stylesheet for the home route of the CMS

/* HOME */
[data-route='home'] main .inner > .bottom {
    @include flex(center, flex-start);

    > .left {
        flex-grow: 1;
    }

    > .right {
        min-width: 275px;
        margin-left: 20px;
    }

    .block {
        @include block();
    }

    @include responsive(500px) {
        @include flexCol();

        > .left {
            width: 100%;
            margin: 0 0 20px;
        }

        > .right {
            width: 100%;
            margin: 0;
        }
    }
}
[data-route='home'] main .inner > .bottom .home-feed {
    @include homeFeedComponent();
}
[data-route='home'] main .inner > .bottom .home-overview {
    .block-body {
        > .table-element {
            @include blockFeedElement();

            > a .count {
                font-size: 90%;
            }
        }
    }
}
