// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// modal
// stylesheet for the modal and the modal routes

// box
body > .modal > .box {
    border-radius: 10px;
    @include flex(center);

    > .close {
        @include abs(-8px, -8px);

        &:hover {
            opacity: 0.8;
        }
    }

    > .inner {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: $darkColor;
    }

    @include print() {
        left: 0;
        top: 0;
        @include wh(100%);
        background-color: $white;
        border-radius: 0;
    }

    @include responsive() {
        @include wh(80% !important);
        top: 10% !important;
        left: 10% !important;
    }
}

/* CHANGE PASSWORD */
.modal[data-route='accountChangePassword'] .inner {
    @include modalForm();
}

/* CONTACT */
.modal[data-route='contact'] .inner {
    @include modalForm();
}

/* SESSION ROLE */
.modal[data-route='sessionRole'] .inner {
    @include modalForm();
}

/* ABOUT */
.modal[data-route='about'] .inner {
    h3 {
        margin-bottom: 20px;
    }

    .content {
        @include wysiwyg();
    }
}

/* EXPORT */
.modal[data-route='export'] .inner {
    .count {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 10px;
    }

    .choices > a {
        margin: 0 5px;
    }

    .note {
        padding-top: 15px;
    }
}
