// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// specific
// stylesheet for the specific form page of the CMS

/* TOP */
[data-group='specific'] main .inner > .top .left {
    .relation-childs .not-accessible {
        font-style: italic;
    }

    .popup span {
        font-weight: normal;
    }
}
[data-group='specific'] main .inner > .top .right .nav {
    @include navSpace();
}

/* FORM */
[data-group='specific'] main .inner > .specific-form {
    position: relative;
}
[data-group='specific'] main .inner > .specific-form button.hidden {
    visibility: hidden;
    @include abs(-100%, null, null, -100%);
}
[data-group='specific'] main .inner > .specific-form > .form-top {
    @include flex(space-between, flex-start, wrap);
    margin-bottom: 15px;

    > .left {
        > ul {
            @include flex(null, center, wrap);
            list-style-type: none;

            li a {
                @include bigButtonDark();
                margin: 0 5px 5px 0;

                h3 {
                    font-size: 100%;
                }
            }
        }
    }

    > .right .operation-element {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    @include responsive() {
        > .left,
        > .right {
            width: 100%;
            text-align: center;
        }

        > .left > ul {
            justify-content: center;
        }

        > .right {
            padding-top: 5px;
        }
    }

    @include print() {
        display: none;
    }
}
[data-group='specific'] main .inner > .specific-form > .form-inner {
    margin-bottom: 20px;
}

/* PANEL */
[data-group='specific'] main .inner > .specific-form.with-panel .panel {
    display: none;

    &[data-active='1'] {
        display: block;
    }
}
[data-group='specific'] main .inner > .specific-form.with-panel .panel.with-description {
    > .panel-description {
        font-size: 90%;
        margin-bottom: 10px;
    }
}

[data-group='specific'] main .inner > .specific-form .panel {
    @include print() {
        display: block !important;
    }
}

/* ELEMENT */
[data-group='specific'] main .inner > .specific-form .form-element {
    @include flex();
    background-color: $lightestGray;
    border: 1px solid $lightGray;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px $gray;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &.required {
        .left label {
            text-decoration: underline;
        }
    }

    &.exception {
        background-color: $red;
        color: $white;
        text-align: center;
        font-weight: bold;
    }

    .popup-trigger {
        @include abs(5px, 10px);
    }

    > .left {
        width: 30%;
        padding: 15px 20px 15px 0;
        position: relative;

        .label {
            margin-bottom: 3px;

            label {
                font-weight: bold;
                cursor: default;

                &:hover {
                    color: inherit;
                }
            }
        }

        .details {
            padding-top: 5px;
            font-size: 90%;

            > ul {
                @include ulOlMargin();

                li {
                    padding: 1px 0;
                }
            }
        }
    }

    &.cursor-pointer > .left label {
        cursor: pointer;

        &:hover {
            color: $darkGray;
        }
    }

    > .right {
        width: 70%;
    }

    &[data-col-popup='1'] > .right {
        padding: 0px 30px 0px 0;
    }

    @include responsive() {
        @include responsiveFlex(flex-start, flex-start);

        > .left,
        > .right {
            @include responsiveSize();
            width: 100%;
        }

        > .left {
            margin-bottom: 10px;
        }
    }

    @include print() {
        background-color: $white !important;
    }
}

/* BOTTOM */
[data-group='specific'] main .inner > .specific-form > .form-bottom {
    @include flex(center);
    text-align: center;

    .left {
        width: 33%;
        text-align: left;
    }
    .center {
        width: 34%;
        text-align: center;
    }
    .right {
        width: 33%;
        text-align: right;
    }

    button[type='submit'] {
        margin: 0 5px;
    }

    @include responsive() {
        justify-content: center;
        margin: 0;

        .left,
        .center,
        .right {
            @include responsiveSize();

            &.left {
                display: none;
            }
        }
    }

    @include print() {
        display: none;
    }
}

/* SPECIFIC MULTI */
[data-route='specificMulti'] main .inner > .specific-form .form-element {
    padding-top: 20px;

    > .left,
    > .right {
        @include transition(opacity);
    }

    &[data-disabled='1'] {
        > .left,
        > .right {
            opacity: 0.3;
        }
    }

    > .disabler {
        @include abs(0px, null, null, 0px);
        z-index: 1;

        > input[type='checkbox'] {
            @include abs(null, 0, 0);
        }

        > label {
            display: block;
            padding: 6px 8px 6px 25px;
            background-position: 5px 50%;
            background-color: $gray;
            border-bottom-right-radius: 5px;
            line-height: 1;

            &:hover {
                background-color: $lightYellow;
                color: $black;
            }
        }

        > input[type='checkbox']:checked + label {
            background-color: $lightYellow;
        }
    }

    @include responsive() {
        padding-top: 30px;
    }
}
