// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// colsSorter
// stylesheet for the colsSorter component
@mixin colsSorter() {
    .close {
        @include abs(-8px, -8px);
        z-index: 5;
    }
    
    &.active .cell-inner .trigger,
    .cell-inner:hover .trigger,
    .cell-inner .trigger.selected {
        background-color: $darkerColor;
    }
    
    &.active .cell-inner > .trigger {
        z-index: 3;
    }
    
    .cell-inner {
        padding: 0;
        
        > .trigger {
            @include transitions(background-color 0.3s);
            @include abs(0,null,null,0);
            @include wh();
            cursor: pointer;
        }

        .popup {
            width: 350px;
            overflow-y: hidden;
            padding: 0;
            font-weight: normal;
            
            > .inside {
                max-height: 300px;
                padding: 10px 15px;
                overflow-y: auto;
            }

            &.valid {
                button {
                    display: block;
                    cursor: pointer;
                }
            }

            &.invalid {
                label {
                    color: $red;
                }
            }

            .choice {
                @include inputChoice(4px);

                .move {
                    margin-right: 5px;
                }
            }

            button {
                @include abs(15px, 20px);
                display: none;
                
                &:hover,
                &[data-triggered='1'] {
                    opacity: 0.8;
                }
            }
        }
    }
}
