// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// colsSorter
// stylesheet for the colsSorter component
@mixin colsSorter() {
    font-weight: normal;

    &.active .cell-inner,
    .cell-inner:hover,
    .cell-inner.selected {
        background-color: $lightYellow;
        border: 1px solid $lightYellow;
    }

    .cell-inner {
        padding: 0px 10px;
        cursor: pointer;

        &.selected .close {
            @include abs(-8px, -8px);
            z-index: 9;
        }

        .popup {
            width: 350px;
            overflow-y: hidden;
            padding: 0;

            > .inside {
                max-height: 300px;
                padding: 10px 15px;
                overflow-y: auto;
            }

            &.valid {
                button {
                    display: block;
                    cursor: pointer;
                }
            }

            &.invalid {
                label {
                    color: $red;
                }
            }

            .choice {
                @include inputChoice(4px);

                .move {
                    margin-right: 5px;
                }
            }

            button {
                @include abs(15px, 20px);
                display: none;
            }
        }
    }
}
