// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// enumSet
// stylesheet for the enumSet component

// componentEnumSetSpecific
// mixin pour un component enumSet dans le formulaire
@mixin componentEnumSetSpecific() {
    @include enumSet();
    @include imageLegend();
}

// enumSet
// mixin avec des styles de base pour un champ enumSet (recherche dans relation)
@mixin enumSet() {
    .nothing {
        font-weight: bold;
    }

    &.active [data-absolute-placeholder='ready'] > .input {
        z-index: 3;
        @include abs(0, null, null, 0);
    }

    > .input-popup {
        position: relative;

        .input {
            width: 100%;

            input[type='text'] {
                width: 80%;
                max-width: 250px !important;
                margin-right: 10px;
            }
        }

        > .popup {
            @include enumSetPopup();
        }
    }

    > .current {
        padding-top: 5px;
    }

    @media print {
        .input-popup {
            display: none !important;
        }
    }
}

// enumSetPopup
// mixin avec des styles pour le popup d'un enum set
@mixin enumSetPopup() {
    @include filterPopupBase();

    .order {
        text-align: center;
        padding: 5px 0;
    }

    .results ul li {
        
        &:first-child > button {
            border-top: 0;
        }
        
        > button {
            @include filterElementBase();
            
            &.already-in {
                background-color: $red !important;
                color: $white;
            }

            &.selected,
            &:hover {
                background-color: $lightYellow;
            }
            
            &:active {
                background-color: $lightGray;
            }
        }
    }
}
