// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// fakeselect
// stylesheet for the fakeselect component

// fakeselect
// mixin pour styliser un faux menu de sélection
@mixin fakeselect() {
    @include fakeselectTrigger();
    @include inbl();
    font-size: 1.4rem;
    
    > .popup {
        @include fakeselectPopup();
    }
}

// fakeselectTrigger
// mixin pour le trigger d'un fakeselect
@mixin fakeselectTrigger() {
    position: relative;
    min-width: 150px;

    &.invalid {
        > .trigger {
            background-color: $red;
            color: $white;
            border: 1px solid $red;
        }
    }

    > .trigger {
        @include transitions(background-color 0.3s, color 0.3s);
        position: relative;
        padding: 5px 40px 5px 12px;
        cursor: pointer;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 5px;

        > .title {
            text-align: left;
            font-size: 90%;
        }

        > .ico {
            @include abs(50%, 10px);
            @include triangle(bottom, $color, 9px, 6px);
            background-size: contain;
            margin-top: -4px;
        }
    }

    &.active > .trigger,
    > .trigger:hover {
        color: $black !important;
        background-color: $lightYellow !important;
    }
}

// fakeselectPopup
// mixin pour le popup d'un fakeselect
@mixin fakeselectPopup() {
    width: 100%;
    display: none;
    text-align: left;
    max-height: 250px;
    overflow-y: auto;
    z-index: 100;
    border-radius: 5px;

    > ul {
        list-style-type: none;

        > li {
            @include transitions(background-color 0.3s);
            padding: 5px 10px;
            border-top: 1px solid $lighterGray;
            cursor: pointer;

            &:hover {
                background-color: $lightYellow;
            }

            &.selected {
                background-color: $lightYellow;
            }
        }
    }
}
