// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// include
// stylesheet that contains variables and mixins for the CMS

// var
// variable pour le cms
$font: 'Helvetica Neue', 'Helvetica', sans-serif;
$color: #2a2b69;
$darkColor: #181844;
$darkerColor: #000;
$lightGrayAlt: #e2e5eb;
$lighterGray: #eee;
$lightestGray: #f7f7f7;
$lightGray: #ddd;
$gray: #bbb;
$midGray: #999;
$darkGray: #555;
$lightYellow: #f9fdd8;
$green: #579758;
$red: #8d1e2d;

// jqueryUi
// quelques styles reliés à jquery-ui pour les draggable
@mixin jqueryUi() {
    .ui-draggable-handle {
        -ms-touch-action: none;
        touch-action: none;
    }
    .ui-selectable {
        -ms-touch-action: none;
        touch-action: none;
    }
    .ui-selectable-helper {
        @include abs();
        z-index: 100;
        border: 1px dotted black;
    }
    .ui-sortable-handle {
        -ms-touch-action: none;
        touch-action: none;
    }
}

// specificNav
// styles utilisés pour la navigation de la page spécifique
@mixin specificNav() {
    @include iflex(center, center, wrap);
    background-color: $lightestGray;
    border: 1px solid $lightGray;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px $gray;

    > a {
        color: $black;
        font-weight: bold;
        margin: 0 8px;
        font-size: 90%;

        &:hover,
        &.clicked {
            color: $darkGray;
        }
    }

    > .count {
        position: relative;
        padding: 0px 8px;

        > span.count {
            font-size: 90%;
        }
    }
}

// icon
// mixin pour gérer un icon
@mixin icon() {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

// iconSolo
// mixin pour générer un icon seul
@mixin iconSolo() {
    @include icon();
    @include inbl();
    @include transitions(background-color 0.3s, opacity 0.3s);
    @include wh(16px);
    min-width: 16px;
    padding: 0;
    cursor: pointer;
}

// iconLeft
// mixin pour générer un icon à gauche, par exemple du texte d'un bouton
@mixin iconLeft() {
    @include icon();
    background-position: 5px 50%;
    padding-left: 25px;
}

// emptyPlaceholder
// mixin pour le style de empty placeholder
@mixin emptyPlaceholder() {
    font-style: italic;
    color: $darkGray;
}

// wysiwyg
// mixin avec quelques styles pour un bloc de style article
// peut être utilisé pour afficher du contenu provenant d'un éditeur WYSIWYG
@mixin wysiwyg() {
    ul {
        @include ulOlMargin();

        > li {
            padding: 2px 0;
        }
    }

    a {
        font-weight: bold;
        color: $color;

        &:hover,
        &.clicked {
            text-decoration: underline;
        }
    }
}

// nothing
// style pour le texte Rien à afficher
@mixin nothing($center: null) {
    display: block;
    font-weight: bold;

    @if ($center) {
        text-align: center;
    }
}

// ulOlMargin
// margin utilisé pour les ul/ol
@mixin ulOlMargin() {
    margin-left: 1.7rem;
}

// panelButton
// mixin pour les styles des boutons de panneaux
@mixin panelButton() {
    display: block;
    padding: 5px 15px;
    margin: 0 5px 5px 0;
    background-color: $gray;
    border: 1px solid $lightGray;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    @include transitions(color 0.3s, background-color 0.3s, border 0.3s);

    &:hover,
    &.selected {
        background-color: $color;
        border: 1px solid $darkColor;
        color: $white;
    }

    &:active {
        background-color: $black;
        border: 1px solid $color;
    }
}

// fixedNavButton
// mixin pour le bouton de la fixed nav (burget et close)
@mixin fixedNavButton() {
    @include transitions(background-color 0.3s);
    @include wh(32px);
    margin-top: -14px;
    background-color: $white;
    border: 1px solid $darkColor;
    border-radius: 3px;
    z-index: 2;

    &:hover {
        background-color: $lightYellow;
        opacity: 1 !important;
    }
}

// scrollbar
// mixin pour la scrollbar
@mixin scrollbar() {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $lightestGray;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: $lightestGray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray;
        background-image: -webkit-gradient(
            linear,
            0 0,
            0 100%,
            color-stop(0.5, rgba(255, 255, 255, 0.2)),
            color-stop(0.5, transparent),
            to(transparent)
        );
    }
}

// trianglePrevNext
// mixin pour génèrer un triangle de couleur du cms
@mixin trianglePrevNext($color1: $color, $color2: $darkColor, $color3: $darkerColor) {
    cursor: pointer;

    &.prev {
        @include triangle(left, $color1, 10px, 6px);
        margin-right: 8px;

        &:hover {
            @include triangle(left, $color2, 10px, 6px);
        }

        &:active {
            @include triangle(left, $color3, 10px, 6px);
        }
    }

    &.next {
        @include triangle(right, $color1, 10px, 6px);
        margin-left: 8px;

        &:hover {
            @include triangle(right, $color2, 10px, 6px);
        }

        &:active {
            @include triangle(right, $color3, 10px, 6px);
        }
    }
}
