// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// include
// stylesheet that contains variables and mixins for the CMS

// var
// variable pour le cms
$font: 'Helvetica Neue', 'Helvetica', sans-serif;
$color: #2a2b69;
$darkColor: #181844;
$darkerColor: #000;
$lightGrayAlt: #d3ecff;
$lighterGray: #eee;
$lightestGray: #f7f7f7;
$lightGray: #ddd;
$gray: #bbb;
$midGray: #999;
$darkGray: #555;
$lightYellow: #f9fdd8;
$green: #579758;
$red: #8d1e2d;

// jqueryUi
// quelques styles reliés à jquery-ui pour les draggable
@mixin jqueryUi() {
    .ui-draggable-handle {
        -ms-touch-action: none;
        touch-action: none;
    }
    .ui-selectable {
        -ms-touch-action: none;
        touch-action: none;
    }
    .ui-selectable-helper {
        @include abs();
        z-index: 100;
        border: 1px dotted black;
    }
    .ui-sortable-handle {
        -ms-touch-action: none;
        touch-action: none;
    }
}
