// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// inputFiles
// stylesheet for the files upload inputs component

// componentFilesSpecific
// style pour le component files dans le formulaire
@mixin componentFilesSpecific() {
    .file-block {
        @include filesBlock();
        margin: 5px;
    }
}

// componentFilesGeneral
// mixin pour l'affichage d'un champ media/medias dans general
@mixin componentFilesGeneral() {
    @include filesShowThumbnail();
    text-align: center;

    .slider {
        position: relative;
        padding: 0 20px;

        .prev,
        .next {
            @include trianglePrevNext();
            margin-top: -8px;
        }

        .prev {
            @include abs(50%, null, null, 0);
        }

        .next {
            @include abs(50%, 0);
        }

        .slider-element {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

// filesBlock
// mixin avec les styles pour un bloc du champ de chargement de fichiers
@mixin filesBlock() {
    width: 480px;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $lightGray;

    &:first-child {
        margin-top: 0;
    }

    &.with-action {
        .info,
        .actions,
        .versions {
            display: none;
        }

        .form .message {
            @include flex(center);
        }
    }

    .count {
        @include abs(12px, 12px);
        @include wh(24px);
        background-color: $white;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid $lightestGray;
    }

    .actions {
        @include abs(-8px, -8px);
        @include flex();

        > .action {
            margin-left: 4px;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .form {
        background-color: $lightGray;
        padding: 10px;

        .message {
            display: none;
            font-size: 90%;
            font-weight: bold;

            .close {
                margin-left: 4px;
            }
        }
    }

    .info {
        padding: 10px;
        font-size: 90%;
        text-align: left;
        text-align: center;

        > a {
            @include inbl();

            &:hover {
                opacity: 0.8;
            }

            &:first-child {
                margin-bottom: 10px;
            }
        }

        .media-placeholder {
            @include wh(64px);
            margin: auto;
        }

        img {
            max-width: 100px;
            min-width: 50px;
            display: block;
            margin: auto;
        }

        .line {
            @include flex(center);

            .notFound {
                @include nothing();
                margin-bottom: 3px;
            }

            a.filename {
                text-decoration: underline;
            }

            .filesize {
                margin-left: 10px;
                font-weight: bold;
            }
        }
    }

    .versions {
        padding: 10px;
        background-color: $lightestGray;
        font-size: 90%;

        > ul {
            @include ulOlMargin();

            > li {
                padding-top: 5px;

                &:first-child {
                    padding-top: 0;
                }

                > span.notFound,
                > span.filesize {
                    margin-left: 5px;
                    font-weight: bold;
                }

                > a {
                    text-decoration: underline;
                    margin-left: 5px;
                }
            }
        }
    }

    /* RESPONSIVE */
    @media screen and (max-width: 900px), screen and (orientation: portrait) {
        width: 100%;
    }

    /* PRINT */
    @media print {
        display: none !important;
    }
}

// filesShowThumbnail
// mixin pour afficher une image dans une cellule du tableau general
@mixin filesShowThumbnail() {
    a .thumbnail,
    a .media-placeholder {
        @include transitions(opacity 0.3s);
        text-align: center;

        &:hover {
            opacity: 0.8;
        }
    }

    .legend {
        font-size: 80%;
        text-align: center;
    }

    .media-placeholder {
        @include wh(64px);
        margin: auto;
        margin-bottom: 3px;
    }

    img {
        max-width: 100px;
    }
}
