// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// mainSearch
// stylesheet for the main search component
@mixin mainSearch() {
    margin: auto;
    position: relative;

    input[type='text'] {
        @include inputTextEvents();
        display: block;
        background-color: $lightGrayAlt;
        width: 100%;
        border-radius: 0;
        border: 0;
        padding: 0;
        height: 31px;
        padding-left: 40px;
        margin: auto;
        border-bottom: 2px solid $color;
    }

    &.active-search-in [data-absolute-placeholder='ready'] input[type='text'],
    &.active [data-absolute-placeholder='ready'] input[type='text'] {
        z-index: 3;
        @include abs(0, null, null, 0);
    }

    &.active-search-in input[type='text'],
    &.active input[type='text'] {
        background-color: $lightYellow;
    }

    .icon-solo {
        @include abs(50%, null, null, 15px);
        margin-top: -8px;
        z-index: 3;
    }

    .popup {
        @include popupList();
    }

    .search-in {
        @include popupBase();
        padding: 15px;
        font-size: 90%;

        > .first {
            margin-bottom: 5px;
        }

        > .first,
        > .second {
            span:first-child {
                font-weight: bold;
                margin-right: 3px;
            }
        }

        &.active {
            display: block;
        }
    }

    .popup,
    .search-in {
        width: 100%;
        max-width: inherit;
        max-height: 225px;
    }

    // responsive
    @media screen and (max-width: 900px), screen and (orientation: portrait) {
        max-width: 450px;

        input[type='text'] {
            @include inputTextBase();
            padding-left: 40px;
        }
    }
}
