// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// mainNav
// stylesheet for the main navigation component

// mainNav
// mixin avec les styles pour la navigation principale
@mixin mainNav() {
    background-color: $darkColor;
    padding: 0px 20px;

    > ul {
        @include flex(null, center, wrap);
        padding: 0;
        list-style-type: none;

        > li {
            > a {
                display: block;
            }

            > a,
            > .trigger {
                padding: 8px 15px 8px 0;
                color: $white;

                &.selected {
                    color: $gray;
                    text-decoration: underline;
                }
            }

            &:hover > a,
            &:hover > .trigger {
                color: $gray;
            }

            &.top > a,
            &.top > .trigger {
                text-decoration: underline;
            }
        }
    }

    > ul > li.with-submenu {
        position: relative;

        .trigger {
            @include flex();
            cursor: pointer;

            .triangle {
                @include triangle(right, $white, 9px, 6px);
                margin-right: 5px;
            }

            &:hover .triangle {
                @include triangle(right, $gray, 9px, 6px);
            }
        }

        &.active .trigger {
            color: $gray;

            .triangle {
                @include triangle(bottom, $gray, 9px, 6px);
                margin-top: 4px;
            }
        }

        > .popup {
            @include mainNavPopup();

            > ul > li > a.specific-add {
                @include abs(50%, 15px);
                margin-top: -8px;
                z-index: 3;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    // responsive
    @media screen and (max-width: 900px), screen and (orientation: portrait) {
        @include fixed(0, null, null, 0);
        @include wh(100%);
        display: none;
        padding: 20px 80px;
        z-index: 8;
        overflow-y: auto;

        > ul {
            flex-direction: column;

            > li {
                text-align: center;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }

                .trigger {
                    cursor: default !important;
                }

                > a,
                > .trigger {
                    padding: 0px !important;
                    font-size: 120%;
                }

                > .trigger {
                    color: $white !important;
                }
            }
        }

        > ul > li.with-submenu {
            padding: 0;

            .triangle {
                display: none !important;
            }

            > .popup {
                @include wh(auto);
                max-width: none;
                display: block;
                position: static;
                background: transparent !important;
                min-width: inherit;
                max-height: inherit;
                border-radius: 0;
                padding: 0;
                box-shadow: none;

                > ul > li {
                    display: block;
                    text-align: center;
                    padding: 3px 0;

                    > a:first-child {
                        text-align: center;
                        padding: 0;

                        &.selected,
                        &:hover {
                            background-color: inherit;
                            text-decoration: underline;
                        }
                    }

                    > a.specific-add {
                        display: none;
                    }
                }
            }
        }
    }
}

// mainNavPopup
// mixin pour le popup de la navigation générale
@mixin mainNavPopup() {
    background-color: $darkColor;
    max-width: 250px;
    border: 0;
    box-shadow: 2px 8px 6px -4px $color;

    > ul > li {
        position: relative;
        list-style-type: none;

        > a:first-child {
            display: block;
            color: $white;
            border-top: 0;
            padding: 10px 35px 10px 20px;

            &:hover,
            &.selected {
                background-color: $color;
                color: $gray;
            }

            &.selected {
                text-decoration: underline;
            }
        }
    }
}
