// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// mainNav
// stylesheet for the main navigation component
@mixin mainNav() {
    > ul {
        padding: 0;
        list-style-type: none;

        > li {
            > a {
                display: block;
            }

            > a,
            > .trigger {
                padding: 8px 15px;
                color: $white;
                border-top: 1px solid $color;
            }

            &:hover > a,
            &:hover > .trigger,
            > a[data-triggered='1'] {
                background-color: $color;
            }

            &:active > a,
            &:active > .trigger {
                background-color: $darkColor;
            }

            &:last-child > a,
            &:last-child > .trigger {
                border-bottom: 0;
            }

            &.active > a,
            > a.selected {
                background-color: $color;
                text-decoration: underline;
            }

            &.top > a,
            &.top > .trigger {
                text-decoration: underline;
            }
        }
    }

    > ul > li.with-carousel {
        > .trigger {
            @include flex();
            cursor: pointer;
            width: 100%;

            .triangle {
                @include triangle(right, $white, 9px, 6px);
                margin-right: 8px;
            }

            &:hover .triangle {
                @include triangle(right, $gray, 9px, 6px);
            }
        }

        &.active > .trigger {
            background-color: $darkerColor;

            .triangle {
                @include triangle(bottom, $gray, 9px, 6px);
                margin-top: 4px;
            }
        }

        &.active > .target {
            display: block;
        }

        > .target {
            display: none;

            > ul > li {
                position: relative;

                > a:first-child {
                    display: block;
                    padding: 4px 15px 4px 32px;
                    color: $white;
                    font-size: 90%;
                    border-top: 1px solid $color;

                    &:hover,
                    &.selected,
                    &[data-triggered='1'] {
                        background-color: $color;
                    }

                    &.selected {
                        text-decoration: underline;
                    }
                }

                &.with-specific-add {
                    > a:first-child {
                        padding-right: 25px;
                    }

                    > .specific-add {
                        @include abs(50%, 10px);
                        margin-top: -8px;
                        z-index: 3;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }

    // responsive
    @include responsive() {
        text-align: center;

        > ul > li.with-carousel > .trigger {
            justify-content: center;
        }
    }
}
