// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// quickEdit
// stylesheet for the quickEdit component
@mixin quickEdit() {
    position: relative;

    .tool {
        @include wh(20px);
        background-color: $lightGray;

        &:hover {
            background-color: $gray;
        }
    }
    
    > .cell-inner {
        padding-right: 10px;
        
        > a.quick-edit {
            @include abs(0px, 0px);
            z-index: 2;
            display: none;
            border-bottom-left-radius: 3px;
        }
    }

    &:hover > .cell-inner > a.quick-edit,
    &[data-status='loading'] > .cell-inner > a.quick-edit {
        display: block;
    }

    &[data-status='loading'] > .cell-inner > a.quick-edit {
        background-color: $white;
    }

    &[data-status='error'] > .cell-inner > a.quick-edit {
        background-color: $red;
    }

    > .cell-inner .quick-edit-container {
        display: none;
        padding: 8px 35px 8px 10px;
        height: 100%;
    }

    &[data-editing='1'] {
        min-width: 250px;

        > .cell-inner {
            > .general-component {
                display: none;
            }

            > .quick-edit-container {
                display: block;

                > form > .tools {
                    @include abs(0px, 0px);
                    @include flex();
                    z-index: 2;

                    button:first-child {
                        border-bottom-left-radius: 3px;
                    }
                }
            }

            > a.quick-edit {
                display: none !important;
                background-color: $lightGray;
            }
        }
    }
}
