// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// relation
// stylesheet for relation-related content

// componentRelationGeneral
// mixin pour une cellule de relation dans le tableau general
@mixin componentRelationGeneral() {
    @include filesShowThumbnail();

    > ul,
    > ol {
        list-style-type: none;

        > li {
            padding: 2px 0;

            &.relation-more {
                font-style: italic;
            }
        }
    }
}

// componentRelationMediaGeneral
// mixin pour une cellule de relation vers la table de la médiathèque
@mixin componentRelationMediaGeneral() {
    @include componentRelationGeneral();
    text-align: center;
}

// componentSelectSpecific
// mixin pour une relation avec une fakeselect
@mixin componentSelectSpecific() {
    &[data-absolute-placeholder='ready'] > .fakeselect.active {
        z-index: 3;
        @include abs(0, null, null, 0);
    }
}

// componentRelationSortableSpecific
// mixin pour une relation sortable (checkboxes)
@mixin componentRelationSortableSpecific() {
    .move {
        margin-right: 5px;
    }

    @media print {
        .move {
            display: none !important;
        }
    }
}

// componentJsonArrayRelationSpecific
// mixin pour le champ jsonArrayRelation dans le formulaire
@mixin componentJsonArrayRelationSpecific() {
    .relation-export {
        padding-top: 10px;
    }
}