// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// rowsChecker
// stylesheet for the rowsChecker component

// rowsChecker
// gère les styles pour les checkboxes à gauche des lignes d'une table
@mixin rowsChecker() {
    width: 40px;
    min-width: inherit;
    text-align: center;

    .cell-inner {
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            background-color: $lightYellow;
        }
    }

    input[type='checkbox'] {
        @include inbl();
        @include abs(50%, null, null, 50%);
        @include wh(12px);
        margin-top: -6px;
        margin-left: -6px;
        text-align: center;
    }
}

// rowsCheckerToggleAll
// mixin pour le toggle all des rows
@mixin rowsCheckerToggleAll() {
    .close {
        @include abs(-8px, -8px);
        z-index: 5;
    }

    .cell-inner {
        padding: 0;
        
        button {
            @include wh();
            @include transitions(background-color 0.3s);
            
            &.selected,
            &:hover {
                background-color: $darkerColor;
            }

            .uncheck {
                display: none;
            }

            &.all-checked {
                .check {
                    display: none;
                }

                .uncheck {
                    display: block;
                }
            }
        }
    }
}

// rowsCheckerTools
// mixin pour les styles de l'espace outil lorsqu'une row est checked
@mixin rowsCheckerTools() {
    @include flex(null, flex-end);
    visibility: hidden;

    > .icon-solo {
        margin-right: 5px;
    }

    .icon-solo {
        
        &:hover,
        &[data-triggered='1'] {
            opacity: 0.6 !important;
        }
    }
}
