// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// componentTableRelationSpecific
// mixin pour un component table relation dans le formulaire
@mixin componentTableRelationSpecific() {
    .relations-container {
        @include flex(center, center, wrap);
        padding-top: 3px;

        [data-absolute-placeholder] {
            margin: 3px;

            &[data-absolute-placeholder='ready'] .table-relation.active {
                z-index: 3;
                @include abs(0, null, null, 0);
            }
        }

        .table-relation {
            @include fakeselectTrigger();

            > .popup {
                @include tableRelationPopup();
            }
        }
    }
}

// tableRelationPopup
// stylesheet for the tableRelation component
@mixin tableRelationPopup() {
    @include filterPopupBase();

    .top {
        @include filterPopupTop();
    }

    .results ul li {
        border-top: 1px solid $lightGray;

        &:first-child {
            border-top: 0;
        }

        .insert {
            @include transitions(background-color 0.3s);
            padding: 5px 10px;
            cursor: pointer;
            text-align: center;

            .big-icon {
                @include wh(64px);
                margin: auto;
                margin-bottom: 3px;
                background-size: contain;
            }

            img {
                margin-bottom: 3px;
                @include inbl();
                max-width: 100px;
            }

            .legend {
                font-style: italic;
                font-size: 80%;
            }

            &:hover {
                background-color: $lightYellow;
            }
        }

        > .medias > .legend {
            background-color: $lightGray;
            text-align: center;
            font-size: 90%;
            font-weight: bold;
            padding: 5px 0;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }
}
