// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// clickOpen
// stylesheet for the various clickOpen components of the CMS

/* POPUP */
@include basePopup();
body .loading .popup,
body .loading.popup {
    display: block;
}
body .active .popup {
    display: block;
}
.popup {
    z-index: 1;
    box-shadow: 0px 0px 6px -2px $gray;
    font-size: 1.3rem;
    width: 450px;
    max-width: 450px;
    background: $lighterGray;
    border: 1px solid $lightGray;
    color: $black;
    text-align: left;
    min-height: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 15px 0;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    .top-right {
        @include abs(15px, 20px);
    }

    &:after {
        content: '';
        height: 10px;
        display: block;
    }

    a {
        color: $black;

        &:hover {
            color: gray;
        }
    }

    .icon.info {
        cursor: default;
        opacity: 1;

        &:hover {
            opacity: 1;
        }
    }

    > ul {
        @include ulOlMargin();

        > li {
            padding: 4px 0;

            > span:first-child {
                font-weight: bold;
                margin-right: 5px;
            }
            
            .key {
                text-decoration: underline;
            }
            
            .value-empty {
                font-style: italic;
            }
            
            > ul {
                @include ulOlMargin();
                padding-top: 5px;
                word-break: break-all;
            }
        }
    }
}

/* POPUP TRIGGER */
.popup-trigger {
    @include inbl();
    position: relative;

    .popup-title {
        padding: 5px;
        cursor: pointer;
    }
    
    &.with-icon {
        .popup-title {
            @include iconLeft();
            padding-left: 25px;
        }
    }
    
    &.with-icon-solo {
        .popup-title {
            @include iconSolo(false);
            @include wh(24px);
        }
    }
    
    &.with-popup {
        &.active,
        &:hover {
            .popup-title {
                background-color: $darkColor;
                color: $white;
                border-radius: 5px;
            }
        }
        
        &.active {
            .popup {
                display: block;
            }
        }
    }
}

/* CLICK OPEN + FAKE SELECT */
.click-open.filter,
.fakeselect {
    @include clickOpen();

    > .trigger > .ico {
        @include wh(12px, true, '', true);
    }

    &.loading .popup {
        min-height: 30px;

        .top,
        .result {
            display: none;
        }
    }
}
.click-open.filter .popup {
    @include clickOpenPopup();
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    .popup {
        max-width: 95vw !important;
    }
}
