// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// form
// stylesheet for the various form inputs of the CMS

/* DATE */
form [data-group='date'] .bind {
    position: relative;

    .popup {
        width: 250px;
        padding: 0;
        border: 0;
        overflow: hidden;

        .calendar {
            @include calendar();
        }

        &:after {
            display: none;
        }
    }
}

/* CHANGE PASSWORD */
form [data-col='userPassword'] {
    input[type='password']:first-child {
        margin-bottom: 10px;
    }
}

/* MEDIA */
form [data-group='media'] .bind {
    @include files();
}

/* SEARCH ENUMSET */
form [data-tag='search'] .bind {
    @include enumSet();

    .thumbnail {
        margin-bottom: 3px;

        img {
            max-width: 100px;
            pointer-events: none;
        }
    }
}

/* TABLE RELATION */
form [data-table-relation='1'] .right .relations {
    text-align: center;
    padding-top: 3px;

    .table-relation {
        @include fakeselectTrigger();
        margin: 3px;

        .popup {
            @include tableRelationPopup();
        }
    }
}

/* JSON ARRAY */
form [data-tag='add-remove'] {
    @include addRemove();
}

/* CHECKBOX SORTABLE */
form [data-group='relation'][data-sortable='1'] .right .choice .choice-in .move {
    margin-right: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    form [data-group='media'] .right .block {
        width: 100%;
    }
}

/* PRINT */
@media print {
    form [data-tag='search'] .right .search-enumset .input,
    form [data-group='relation'][data-sortable='1'] .right .move {
        display: none !important;
    }
}
