// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// form
// stylesheet for the various form inputs of the CMS

/* DATE */
form [data-group='date'] .right {
    position: relative;

    .popup {
        width: 250px;
        padding: 0;
        border: 0;
        overflow: hidden;

        .calendar {
            @include calendar();
        }

        &:after {
            display: none;
        }
    }
}

/* CHANGE PASSWORD */
form [data-col='userPassword'] .right {
    input[type='password']:first-child {
        margin-bottom: 10px;
    }
}

/* MEDIA */
form [data-group='media'] .right .block {
    @include inbl();
    width: 480px;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    border: 1px solid $lightGray;

    &.with-action {
        .info,
        .actions,
        .versions {
            display: none;
        }

        .form .message {
            display: block;
        }
    }

    .count {
        @include abs(8px, 7px);
        @include wh(24px);
        background-color: $white;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid $lightestGray;
    }

    .actions {
        @include abs(-12px, -8px);

        > .action {
            @include inbl();
            margin-left: 4px;
        }
    }

    .form {
        background-color: $lightGray;
        padding: 10px;

        .message {
            display: none;
            text-align: center;
            font-size: 90%;
            font-weight: bold;

            .actionText {
                @include inbl(top);
            }

            .close {
                margin-left: 4px;
                @include inbl(top);
            }
        }
    }
}
form [data-group='media'] .right .block .info {
    padding: 10px;
    font-size: 90%;
    text-align: left;
    text-align: center;

    > a {
        @include inbl();

        &:hover {
            opacity: 0.8;
        }
    }

    .media-placeholder {
        @include wh(64px);
        margin: auto;
    }

    img {
        max-width: 100px;
        min-width: 50px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .line {
        .notFound {
            @include nothing();
            margin-bottom: 3px;
        }

        .filename {
            @include inbl();
        }
        a.filename {
            text-decoration: underline;
        }

        .filesize {
            @include inbl();
            margin-left: 10px;
            font-weight: bold;
        }
    }
}
form [data-group='media'] .right .block .versions {
    padding: 10px;
    background-color: $lightestGray;
    font-size: 90%;

    > ul {
        @include ulOlMargin();

        > li {
            padding-top: 5px;

            &:first-child {
                padding-top: 0;
            }

            > span.notFound,
            > span.filesize {
                margin-left: 5px;
                font-weight: bold;
            }

            > a {
                text-decoration: underline;
                margin-left: 5px;
            }
        }
    }
}
form [data-col='medias'] .right .block {
    margin: 10px 10px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

/* SEARCH ENUMSET */
form [data-tag='search'] .right .search-enumset {
    @include enumSet();
}
form [data-tag='search'] .right {
    .thumbnail {
        margin-bottom: 3px;

        img {
            max-width: 100px;
            pointer-events: none;
        }
    }
}

/* TABLE RELATION */
form [data-table-relation='1'] .right .relations {
    text-align: center;
    padding-top: 3px;

    .table-relation {
        @include fakeselectTrigger();
        margin: 3px;

        .popup {
            @include tableRelationPopup();
        }
    }
}

/* JSON ARRAY */
form [data-tag='add-remove'] {
    @include addRemove();
}

/* CHECKBOX SORTABLE */
form [data-group='relation'][data-sortable='1'] .right .choice .choice-in .move {
    margin-right: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    form [data-group='media'] .right .block {
        width: 100%;
    }

    form [data-tag='add-remove'] .right {
        @include addRemoveResponsive();
    }
}

/* PRINT */
@media print {
    form [data-group='media'] .right .block.empty,
    form [data-group='media'] .right .block.actions,
    form [data-group='media'] .right .block .form,
    form [data-tag='search'] .right .search-enumset .input,
    form [data-group='relation'][data-sortable='1'] .right .move {
        display: none !important;
    }
}
