// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// general
// stylesheet for the general navigation page of the CMS

/* TOP */
[data-route='general'] main .inner > .top .right {
    > .operation {
        margin-bottom: 15px;

        > .truncate {
            @include inbl();
        }
    }

    > .limit {
        input[type='text'] {
            font-size: 90%;
            width: 40px;
            padding: 2px 5px;
            margin-right: 5px;
            text-align: center;
        }

        span {
            font-size: 90%;
        }
    }
}
[data-route='general'] main .inner > .top .left .title .popup-trigger {
    margin-left: 10px;
}
[data-route='general'] main .inner > .top .left .search {
    padding-top: 10px;

    > .form {
        margin-bottom: 5px;

        > .input {
            @include inbl();
            position: relative;
            margin-right: 10px;

            input[type='text'] {
                width: 200px;
            }

            > .close {
                @include abs(-8px, -8px);
            }
        }
    }

    > .in {
        display: none;
        font-size: 90%;

        div span:first-child {
            font-weight: bold;
            margin-right: 3px;
        }
    }
}

/* MAIN */
[data-route='general'] main .inner > .container {
    margin-bottom: 20px;

    &.empty {
        .notFound {
            margin-bottom: 10px;
        }
    }

    .notFound {
        @include nothing(true);
    }

    .above {
        .left,
        .right {
            @include inbl();
            width: 50%;
        }

        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
    }

    .bellow {
        .right {
            padding: 10px 0;
            text-align: right;
        }
    }

    .scroller {
        width: 100%;
        padding-top: 10px;
        overflow-y: visible;
        overflow-x: auto;
        min-height: 400px;

        &[data-status='grabbing'] {
            @include disableSelection();
            cursor: grabbing !important;
        }
    }
}

/* TOOL */
[data-route='general'] main .inner > .container .tool {
    visibility: hidden;

    > .icon {
        @include inbl(bottom);
        margin-right: 5px;
    }

    .multi-delete {
        @include inbl(bottom);
    }
}

/* PAGE */
[data-route='general'] main .inner > .container .page-input {
    a {
        @include inbl(bottom);

        &.prev {
            margin-right: 5px;
        }

        &.next {
            margin-left: 5px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
    .center {
        @include inbl(bottom);
        span {
            @include inbl(bottom);
            font-size: 90%;
        }
        input[type='text'] {
            @include inbl(bottom);
            font-size: 90%;
            text-align: center;
            width: 40px;
            padding: 2px 5px;
            margin: 0 5px;
        }
    }
}

/* TABLE */
[data-route='general'] main .inner > .container table {
    @include wh();

    .bottom-left .popup,
    .bottom-right .popup {
        top: 100%;
        bottom: inherit;
    }
}
[data-route='general'] main .inner > .container table thead th {
    vertical-align: middle;
    background-color: $color;
    min-width: 100px;
    position: relative;
    height: 100%;
    font-weight: bold;

    &:first-child .in {
        border-left: 1px solid $darkColor;
    }

    .left,
    .right {
        @include wh(25px, 100%);
        cursor: pointer;
    }

    .in {
        @include transitions(background-color 0.3s, border 0.3s);
        display: block;
        height: 100%;
        padding: 10px;
        position: relative;
        text-align: left;
        border-right: 1px solid $darkColor;

        .label {
            @include inbl();
            vertical-align: middle;
            color: $white;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

/* ROWS */
[data-route='general'] main .inner > .container table thead .rows {
    width: 40px;
    min-width: inherit;

    .close {
        @include abs(-8px, -8px);
        z-index: 1;
    }

    .in {
        cursor: pointer;
        padding: 0 10px;

        &.selected,
        &:hover {
            background-color: $lightYellow;
            border-left: 1px solid $lightYellow;
        }

        .uncheck {
            display: none;
        }

        &.all-checked {
            .check {
                display: none;
            }

            .uncheck {
                display: block;
            }
        }
    }
}

/* ORDER */
[data-route='general'] main .inner > .container table thead th.orderable {
    .right {
        @include abs(0, 0);
        @include transition(background-color);

        .arrow {
            @include abs(50%, '', '', 50%);
            @include transition(opacity);
            margin-top: -7px;
            margin-left: -8px;
            background-size: inherit;
            background-position: 0px 0px;
            display: block;
            opacity: 0.1;
        }
    }

    .label {
        padding-right: 25px;
    }

    &.asc {
        .arrow {
            background-position: 0px -82px;
        }
    }
    &.desc {
        .arrow {
            background-position: 0px 0px;
        }
    }

    &:hover,
    &.ordering {
        .label {
            color: $gray;
        }

        .right {
            .arrow {
                opacity: 1;
            }
        }
    }
}

/* FILTER */
[data-route='general'] main .inner > .container table thead th.filterable {
    .left {
        @include abs(0, '', '', 0);
        @include wh(30px, 100%);
    }

    .label {
        padding-left: 25px;
    }
}
[data-route='general'] main .inner > .container table thead th.filterable .filter-outer {
    @include transition(background-color);
    height: 100%;

    &:hover,
    &.filtering,
    &.active {
        background-color: $lightYellow;
    }

    .close {
        @include abs(-8px, -8px);
    }

    .trigger {
        height: 100%;

        .filter {
            @include abs(50%, '', '', 50%);
            @include transition(opacity);
            margin-top: -7px;
            margin-left: -8px;
            background-position: 0px 0px;
            display: block;
        }
    }
}
[data-route='general'] main .inner > .container table thead th.filterable .popup {
    @include filterPopup();
}

/* COLS */
[data-route='general'] main .inner > .container table thead .action {
    width: 50px;
    min-width: inherit;

    .in {
        padding: 0px 10px;
        cursor: pointer;

        &:hover,
        &.active,
        &.selected {
            background-color: $lightYellow;
            border-right: 1px solid $lightYellow;
        }

        &.selected .close {
            @include abs(-8px, 0px);
        }

        .popup {
            width: 350px;
            overflow-y: hidden;
            padding: 0;

            > .inside {
                max-height: 300px;
                padding: 10px 15px;
                overflow-y: auto;
            }

            &.valid {
                button {
                    display: block;
                    cursor: pointer;
                }
            }

            &.invalid {
                label {
                    color: $red;
                }
            }

            .choice {
                @include inputChoice(4px);

                .move {
                    margin-right: 5px;
                }
            }

            button {
                display: none;
            }
        }
    }
}
[data-route='general'] main .inner > .container table tbody {
    tr {
        &:hover {
            background-color: $lighterGray !important;
        }
        &:nth-child(even) {
            background-color: $lightestGray;
        }
        &.highlight {
            background-color: $lightGrayAlt !important;
        }
        &.selected {
            background-color: $lightYellow !important;
        }

        td:first-child .in {
            border-left: 1px solid $lighterGray;
        }
    }
    td {
        height: 100%;

        .in {
            @include transition(background-color);
            border-right: 1px solid $lighterGray;
            border-bottom: 1px solid $lighterGray;
            height: 100%;
            min-height: 15px;
            padding: 8px 10px;
            font-size: 90%;
            color: $black;
            display: block;
            position: relative;

            > .empty-placeholder {
                font-style: italic;
                color: $gray;
            }

            a {
                display: block;
                color: $black;

                .thumbnail {
                    margin-bottom: 3px;
                    text-align: center;

                    img {
                        max-width: 100px;
                    }
                }

                &:hover {
                    color: $darkGray;
                    text-decoration: underline;

                    .thumbnail {
                        opacity: 0.8;
                    }
                }
            }

            .legend {
                font-size: 80%;
                text-align: center;
            }
        }

        &.primary a {
            display: block;
            padding: 8px 10px;
        }
    }
}
[data-route='general'] main .inner > .container table tbody td .in .relation {
    a {
        display: inline;
    }
}
[data-route='general'] main table td .media {
    text-align: center;

    .media-placeholder {
        @include wh(64px);
        margin: auto;
        margin-bottom: 3px;
    }

    img {
        max-width: 100px;
    }
}
[data-route='general'] main .inner > .container table tbody td.rows {
    width: 40px;
    min-width: inherit;
    text-align: center;

    .in {
        padding: 0 10px;
    }

    input[type='checkbox'] {
        @include inbl();
        @include abs(50%, '', '', 50%);
        @include wh(12px);
        margin-top: -6px;
        margin-left: -6px;
        text-align: center;
    }
}
[data-route='general'] main .inner > .container table tbody td.rows,
[data-route='general'] main .inner > .container table tbody td.primary,
[data-route='general'] main .inner > .container table tbody td.action {
    .in {
        &:hover {
            background-color: $lightYellow;
        }
    }
}
[data-route='general'] main .inner > .container table tbody td.action {
    width: 50px;
    min-width: inherit;

    .in {
        padding: 0 10px;
    }
}

/* GENERAL EXPORT */
.modal[data-route='generalExportDialog'] .inner {
    .count {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }

    .choices {
        > a {
            margin: 0 5px;
        }

        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;

        > li {
            padding: 3px 0;
            font-size: 90%;
        }
    }
}

/* IE EDGE */
@supports (-ms-ime-align: auto) {
    [data-route='general'] main .inner > .container table thead th,
    [data-route='general'] main .inner > .container table tbody td {
        box-sizing: border-box;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    [data-route='general'] main .inner > .container {
        margin-bottom: 0;
    }

    [data-route='general'] main .inner > .container .above .left,
    [data-route='general'] main .inner > .container .above .right,
    [data-route='general'] main .inner > .container .bellow .left,
    [data-route='general'] main .inner > .container .bellow .right {
        @include responsiveBlock();
        text-align: left;
        margin-top: 5px;
    }
}

/* PRINT */
@media print {
    [data-route='general'] main .inner > .top .left .search,
    [data-route='general'] main .inner > .container .above,
    [data-route='general'] main .inner > .container .bellow,
    [data-route='general'] main .inner > .container table thead th.filterable .left,
    [data-route='general'] main .inner > .container table thead th.orderable .right,
    [data-route='general'] main .inner > .container table tr > *:first-child,
    [data-route='general'] main .inner > .container table tr > *:last-child {
        display: none !important;
    }

    [data-route='general'] main .inner > .container table thead th.orderable.ordering .right {
        display: block !important;
    }

    [data-route='general'] main .inner > .container table thead th.filterable .label {
        padding-left: 0;
    }
}
