// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// general
// stylesheet for the general navigation page of the CMS

/* TOP */
[data-route='general'] main .inner > .top .right {
    > .operation {
        margin-bottom: 15px;

        > .operation-element {
            @include inbl();
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    > .limit {
        input[type='text'] {
            font-size: 90%;
            width: 40px;
            padding: 2px 5px;
            margin-right: 5px;
            text-align: center;
        }

        span {
            font-size: 90%;
        }
    }
}
[data-route='general'] main .inner > .top .left .title .popup-trigger {
    margin-left: 10px;
}
[data-route='general'] main .inner > .top .left .search {
    padding-top: 10px;

    > .form {
        margin-bottom: 5px;

        > .input {
            @include inbl();
            position: relative;
            margin-right: 10px;

            input[type='text'] {
                width: 200px;
            }

            > .close {
                @include abs(-8px, -8px);
            }
        }
    }

    > .in {
        display: none;
        font-size: 90%;

        div span:first-child {
            font-weight: bold;
            margin-right: 3px;
        }
    }
}

/* MAIN */
[data-route='general'] main .inner > .container {
    margin-bottom: 20px;

    &.empty {
        .notFound {
            margin-bottom: 10px;
        }
    }

    .notFound {
        @include nothing(true);
    }

    .above {
        .left,
        .right {
            @include inbl();
            width: 50%;
        }

        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
    }

    .bellow {
        .right {
            padding: 10px 0;
            text-align: right;
        }
    }

    .scroller {
        width: 100%;
        padding-top: 5px;
        overflow-y: visible;
        overflow-x: auto;
        min-height: 400px;

        &[data-status='grabbing'] {
            @include disableSelection();
            cursor: grabbing !important;
        }
    }
}

/* TOOL */
[data-route='general'] main .inner > .container .above .tool {
    @include rowsCheckerTools();
}

/* PAGE */
[data-route='general'] main .inner > .container .page-input {
    a {
        @include inbl();
        @include trianglePrevNext();
    }
    .center {
        @include inbl(bottom);
        span {
            @include inbl(bottom);
            font-size: 90%;
        }
        input[type='text'] {
            @include inbl(bottom);
            font-size: 90%;
            text-align: center;
            width: 40px;
            padding: 2px 5px;
            margin: 0 5px;
        }
    }
}

/* TABLE */
[data-route='general'] main .scroller > table {
    @include wh();

    .bottom-left .popup,
    .bottom-right .popup {
        top: 100%;
        bottom: inherit;
    }
}
[data-route='general'] main .scroller > table > thead > tr > th {
    vertical-align: middle;
    background-color: $color;
    min-width: 150px;
    position: relative;
    height: 100%;
    font-weight: bold;

    &:first-child .cell-inner {
        border-left: 1px solid $darkColor;
    }

    .cell-inner {
        @include transitions(background-color 0.3s, border 0.3s);
        display: block;
        height: 100%;
        padding: 10px;
        position: relative;
        text-align: left;
        border-right: 1px solid $darkColor;

        .label {
            @include inbl();
            vertical-align: middle;
            color: $white;
            font-size: 85%;
            text-transform: uppercase;
        }
    }
}

/* PRIMARY */
[data-route='general'] main .scroller > table > thead > tr > th[data-col='primary'] {
    min-width: 80px;
}

/* ROWS */
[data-route='general'] main .scroller > table > thead > tr > .rows {
    min-width: 40px;
    @include rowsCheckerToggleAll();
}

/* COLS */
[data-route='general'] main .scroller > table > thead > tr > th.action {
    @include colsSorter();
    min-width: 40px;
}
[data-route='general'] main .scroller > table > tbody > tr > td.action .cell-inner:hover {
    background-color: $lightYellow;
}

/* ORDER */
[data-route='general'] main .scroller > table > thead > tr > th.orderable {
    .label {
        padding-right: 30px;
    }

    .right {
        @include abs(0, -1px);
        @include wh(30px, 100%);
        cursor: pointer;
        @include transition(background-color);

        .triangle {
            @include abs(50%, null, null, 50%);
            @include transition(opacity);
            margin-top: -5px;
            margin-left: -5px;
            display: block;
            opacity: 0.1;
        }
    }

    .right:hover,
    &.ordering .right {
        background-color: $lightYellow;

        .label {
            color: $gray;
        }

        .triangle {
            opacity: 1;
        }
    }

    &[data-direction='asc'] .right .triangle {
        @include triangle(top, $white, 12px, 6px);
    }
    &[data-direction='desc'] .right .triangle {
        @include triangle(bottom, $white, 12px, 6px);
    }
    &[data-direction='asc'] .right:hover .triangle,
    &[data-direction='asc'].ordering .right .triangle {
        @include triangle(top, $color, 12px, 6px);
    }
    &[data-direction='desc'] .right:hover .triangle,
    &[data-direction='desc'].ordering .right .triangle {
        @include triangle(bottom, $color, 12px, 6px);
    }
}

/* FILTER */
[data-route='general'] main .scroller > table > thead > tr > th.filterable {
    .left {
        @include abs(0, null, null, 0);
        @include wh(30px, 100%);
        cursor: pointer;
    }

    .label {
        padding-left: 30px;
    }

    .filter-outer {
        @include filterTogglerOuter();
    }
}

/* TBODY */
[data-route='general'] .scroller > table tbody {
    a {
        @include inbl();
        color: $black;

        &:hover {
            color: $darkGray;
            text-decoration: underline;
        }
    }
}
[data-route='general'] main .scroller > table > tbody {
    > tr {
        &:nth-child(even) {
            background-color: $lighterGray;
        }
        &.highlight {
            background-color: $lightGrayAlt !important;
        }
        &.selected {
            background-color: $lightYellow !important;
        }

        > td:first-child > .cell-inner {
            border-left: 1px solid $lighterGray;
        }
    }

    > tr > td {
        height: 100%;

        > .cell-inner {
            @include transition(background-color);
            border-right: 1px solid $lighterGray;
            border-bottom: 1px solid $lighterGray;
            height: 100%;
            min-height: 15px;
            color: $black;
            position: relative;
            display: block;

            > .general-component {
                padding: 8px 10px;
                height: 100%;
                display: block;
                font-size: 90%;

                .empty-placeholder {
                    font-style: italic;
                    color: $darkGray;
                    text-align: left;
                }
            }

            > * {
                box-sizing: border-box;
            }
        }
    }
}
[data-route='general'] main .scroller > table > tbody > tr > td {
    &[data-quick-edit='1'] {
        @include quickEdit();
    }

    &.rows {
        @include rowsChecker();
    }
}

/* IE EDGE */
@supports (-ms-ime-align: auto) {
    [data-route='general'] main .scroller > table > thead > tr,
    [data-route='general'] main .scroller > table > tbody > tr  > td {
        box-sizing: border-box;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    [data-route='general'] main .inner > .container {
        margin-bottom: 0;
    }

    [data-route='general'] main .inner > .container .above .left,
    [data-route='general'] main .inner > .container .above .right,
    [data-route='general'] main .inner > .container .bellow .left,
    [data-route='general'] main .inner > .container .bellow .right {
        @include responsiveBlock();
        text-align: left;
        margin-top: 5px;
    }
}

/* PRINT */
@media print {
    [data-route='general'] main .inner > .top .left .search,
    [data-route='general'] main .inner > .container .above,
    [data-route='general'] main .inner > .container .bellow {
        display: none !important;
    }
}
