// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// interface
// stylesheet for the main interface of the CMS

/* WRAPPER */
[data-status='loading'] body {
    * {
        cursor: wait !important;
    }

    .loading-fixed {
        @include flex(null, flex-start);
    }
}
body .loading-fixed {
    @include fixed(0, 0);
    z-index: 9;
    display: none;

    > .loading-icon {
        @include wh(20px);
        background-position: center;
        background-color: $white;
        border-bottom-left-radius: 50%;
    }

    > .loading-progress {
        > .percent {
            @include wh(40px, 16px);
            font-size: 80%;
            text-align: center;
            color: $white;
            background-color: $darkColor;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
body.responsive-menu-open #wrapper {
    .nav-wrap .nav-fixed {
        width: 100%;
        
        .nav-close {
            display: block;
        }
    }
    
    .main-wrap {
        display: none;
    }
}
body > #wrapper {
    @include flex(flex-start,stretch);
    @include wrapper();
    @include transitions(opacity 0.3s);
    opacity: 1;
    
    > .nav-wrap {
        width: 200px;
    }
    
    > .main-wrap {
        width: calc(100% - 200px);
        position: relative;
    }
}
body > .background {
    @include fixed(0, null, null, 0);
    @include transitions(opacity 1.5s);
    @include wh(100%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

    &[data-from='modal'],
    &[data-from='clickOpen'] {
        display: block;
        @include fadeIn(0.3s);
    }

    &[data-from='clickOpen'] {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/* NAV */
.nav-wrap .nav-fixed {
    @include fixed(0,null,null,0);
    @include wh(200px,100vh);
    @include scrollbar();
    background: $darkColor;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9;
    
    > .nav-top {
        background-color: $white;
        min-height: 25px;
        border-bottom: 5px solid $color;
        text-align: center;
        position: relative;
        
        > .nav-close {
            @include abs(20px,null,null,15px);
            @include fixedNavButton();
            display: none;
        }
        
        > .logo {
            @include inbl();
            padding: 10px;
            
            img {
                @include transitions(opacity 0.3s);
                display: block;
            }
        }
    }
    
    nav {
        @include mainNav();
    }
}

/* HEADER */
header > .top {
    @include flex(space-between,center,wrap);
    position: relative;
    background-color: $color;

    .burger-menu {
        @include abs(20px,null,null,15px);
        @include fixedNavButton();
        display: none;
    }

    .right {
        @include flex(flex-end, center, wrap);

        > a.clicked {
            background-color: $darkColor;
        }

        .popup-trigger > .popup-title {
            color: $lightGray;
        }
    }
}

/* MAIN */
main {
    padding: 15px 0 55px 0;
    
    .inner {
        padding: 0 15px;
        position: relative;
    }
}
main .inner > .top {
    @include flex(space-between,flex-start,wrap);
    margin-bottom: 20px;

    .title {
        @include flex(flex-start,center,wrap);
        margin-bottom: 3px;
    }

    .sub-title {
        font-size: 90%;
    }

    .left h1 > a {
        display: block;
        
        &:hover,
        &.clicked {
            color: $darkGray;
        }
    }

    .right {
        text-align: right;
    }
}

/* COM */
.com {
    @include com();
}

/* FOOTER */
footer {
    @include abs(null, null, 0, 0);
    @include flex(flex-end);
    z-index: 2;
    width: 100%;
    background-color: $color;
    
    .with-submenu {
        position: relative;

        &:first-child {
            margin-left: 0;
        }
        
        &.active .trigger {
            background-color: $darkColor;
        }

        &.top .trigger {
            background-color: $darkerColor;
            text-decoration: underline;
        }

        > .popup {
            @include subMenuPopup();
        }
    }
    
    .popup-trigger {
        > a,
        > span {
            color: $white;
        }
    }
    
    > * {
        margin-left: 5px;
        
        &:first-child {
            margin-left: 0;
        }
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    body > #wrapper {
        min-width: inherit;
        
        .nav-wrap {
            width: 0;
            
            .nav-fixed {
                width: 0;
                
                .logo {
                    max-width: 180px;
                }
            }
        }
        
        .main-wrap {
            width: 100%;
        }
    }
    
    header > .top {
        padding: 10px 60px;

        .right {
            justify-content: center;
        }

        .burger-menu {
            display: block;
        }
    }

    main {
        padding-bottom: 25px;
    }

    footer {
        justify-content: center;
        flex-wrap: wrap;
        position: static;
    }
}

/* PRINT */
@media print {
    * {
        page-break-after: avoid;
    }

    body {
        background-image: none !important;
    }

    header,
    .nav-wrap,
    footer,
    main .inner > .top .right,
    .submit,
    .close {
        display: none !important;
    }

    main .inner {
        padding: 0;

        > .top .left {
            width: 100%;
        }
    }
}
