// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// interface
// stylesheet for the main interface of the CMS

/* WRAPPER */
[data-status='loading'] body {
    * {
        cursor: wait !important;
    }

    #wrapper {
        opacity: 0.9;
    }

    .loading-fixed {
        display: block;
    }
}
body .loading-fixed {
    @include fixed(0, '', '', 0);
    z-index: 9;
    display: none;

    > .loading-icon {
        @include inbl(top);
        @include wh(20px);
        background-position: center;
        background-color: $white;
        border-bottom-right-radius: 50%;
    }

    > .loading-progress {
        @include inbl(top);

        > .percent {
            @include wh(40px, 16px);
            font-size: 80%;
            text-align: center;
            line-height: 16px;
            color: $white;
            background-color: $darkColor;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}
body.responsive-menu-open header {
    > .top .burger-menu {
        position: fixed;
    }

    nav {
        display: block;
    }
}
body > #wrapper {
    @include wrapper();
    @include transitions(opacity 0.3s);
    opacity: 1;
}
body > .background {
    @include fixed(0, '', '', 0);
    @include transitions(opacity 1.5s);
    @include wh(100%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

    &[data-from='modal'],
    &[data-from='clickOpen'] {
        display: block;
        @include fadeIn(0.3s);
    }

    &[data-from='clickOpen'] {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/* HEADER */
header > .top {
    padding: 6px 20px;
    background-color: $color;

    .burger-menu {
        @include abs(40px, '', '', 20px);
        @include wh(32px);
        margin-top: -16px;
        background-color: $lightYellow;
        border: 2px solid $darkerColor;
        display: none;
        z-index: 9;

        &:hover {
            opacity: 0.8;
        }
    }

    .left {
        @include inbl();
        width: 50%;

        .boot-label {
            font-size: 2.4rem;
            font-weight: 600;

            > a {
                color: $white;

                &:hover {
                    color: $gray;
                }
            }
        }
    }

    .right {
        @include inbl();
        width: 50%;
        text-align: right;

        > a {
            border: 0;
            margin-left: 5px;

            &:first-child {
                margin: 0;
            }

            &.active {
                background-color: $darkColor;
                text-decoration: underline;
            }
        }

        .popup-trigger {
            margin-top: 3px;

            > .popup-title {
                color: $lightGray;
                font-size: 90%;
            }
        }
    }
}
header nav {
    @include mainNav();
}

/* MAIN */
main {
    padding: 20px 0 50px 0;

    .inner {
        padding: 0 20px;
        position: relative;
    }
}
main .inner > .top {
    margin-bottom: 20px;

    .title {
        margin-bottom: 3px;
    }

    .sub-title {
        font-size: 90%;
    }

    .left {
        @include inbl(top);
        width: 55%;

        h1 {
            @include inbl;

            > a {
                display: block;

                &:hover {
                    color: $darkGray;
                }
            }
        }
    }

    .right {
        @include inbl(top);
        width: 45%;
        text-align: right;
    }
}

/* COM */
.com {
    @include com();
}

/* FOOTER */
footer {
    @include abs('', '', 0, 0);
    z-index: 2;
    width: 100%;
    padding: 5px 20px;
    background-color: $color;
    font-size: 90%;
}
footer .left {
    @include inbl();
    width: 70%;

    .with-submenu {
        @include inbl();
        margin-left: 5px;
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        > .trigger {
            border: 0;
        }

        &.active .trigger {
            background-color: $darkColor;
        }

        &.top .trigger {
            text-decoration: underline;
        }

        > .popup {
            @include mainNavPopup();
        }
    }
}
footer .right {
    @include inbl();
    width: 30%;
    text-align: right;
    color: $lightGray;

    > span {
        @include inbl();
        color: $lightGray;

        &.separator {
            margin: 0 5px;
        }
    }

    > span a {
        color: $lightGray;

        &:hover {
            text-decoration: underline;
        }
    }

    .popup-title {
        color: $lightGray;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    body > #wrapper {
        min-width: inherit;
    }

    header > .top {
        padding: 10px 60px;

        .left,
        .right {
            @include responsiveBlock();
            text-align: center;

            &.left {
                margin-bottom: 5px;
            }
        }

        .burger-menu {
            display: block;
        }
    }

    main {
        height: auto;
        padding: 20px 0 40px 0;

        .inner > .top .left,
        .inner > .top .right {
            @include responsiveBlock();
            text-align: left;

            &.right {
                margin-top: 10px;
            }
        }
    }

    footer {
        position: static;

        .left,
        .right {
            @include responsiveBlock();
            text-align: center;
        }

        .left {
            margin-bottom: 5px;
        }
    }
}

/* PRINT */
@media print {
    * {
        page-break-after: avoid;
    }

    body {
        background-image: none !important;
    }

    header,
    footer,
    main .inner > .top .right,
    .submit,
    .close {
        display: none !important;
    }

    main .inner {
        padding: 0;

        > .top .left {
            width: 100%;
        }
    }
}
