// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// interface
// stylesheet for the main interface of the CMS

/* WRAPPER */
[data-status='loading'] body {
    * {
        cursor: wait !important;
    }

    .loading-fixed {
        @include flex(null, flex-start);
    }
}
body .loading-fixed {
    @include fixed(0, 0);
    z-index: 9;
    display: none;
    
    > .loading-progress {
        > .percent {
            text-align: center;
            color: $white;
            padding: 3px;
            background-color: $darkColor;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    > .loading-icon {
        @include wh(20px);
        background-position: center;
        background-color: $white;
        border-bottom-left-radius: 50%;
    }
}
body.responsive-menu-open #wrapper {
    .nav-wrap .nav-fixed {
        width: 100%;

        .nav-close {
            display: block;
        }
    }

    .main-wrap {
        display: none;
    }
}
body > #wrapper {
    @include flex(flex-start, stretch);
    @include wrapper();
    @include transitions(opacity 0.3s);
    opacity: 1;

    > .nav-wrap {
        width: 200px;
    }

    > .main-wrap {
        width: calc(100% - 200px);
        position: relative;
        display: flex;
        flex-direction: column;
    }
}
body > .background {
    @include fixed(0, null, null, 0);
    @include transitions(opacity 1.5s);
    @include wh(100%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.15);
    display: none;

    &[data-from='modal'],
    &[data-from='clickOpen'],
    &[data-from='calendar'],
    &[data-from='fakeselect'],
    &[data-from='enumSet'],
    &[data-from='tableRelation'] {
        display: block;
        @include fadeIn(0.3s);
    }

    &[data-from='modal'] {
        background-color: rgba(0, 0, 0, 0.25);
    }
}
body > code,
body > pre {
    display: block;
    padding-left: 200px;
}

/* NAV */
.nav-wrap .nav-fixed {
    @include fixed(0, null, null, 0);
    @include wh(200px, 100vh);
    @include scrollbar();
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    background: $darkColor;
    
    > .nav-top {
        background-color: $white;
        min-height: 25px;
        position: relative;

        > .nav-close {
            @include abs(15px, null, null, 15px);
            @include fixedNavButton();
            display: none;
        }

        > a {
            display: block;
            padding: 10px 15px;
            font-size: 120%;
            font-weight: bold;

            &:hover {
                background-color: $lighterGray;
            }
            
            &:active,
            &[data-triggered='1'] {
                background-color: $lightYellow;
            }
        }

        > .logo img {
            display: block;
        }
    }

    nav {
        @include mainNav();
    }
}

/* HEADER */
header {
    background-color: $color;
    position: relative;

    .burger-menu {
        @include abs(15px, null, null, 15px);
        @include fixedNavButton();
        display: none;
    }

    .boot-label {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        font-weight: bold;
        color: $white;
        display: none;
        
        &:hover,
        &[data-triggered='1'] {
            color: $lightGray;
        }
    }

    > .top {
        @include flex(space-between, center, wrap);

        .left {
            flex-grow: 2;

            > form {
                @include mainSearch();
            }
        }

        .right {
            padding: 0 15px 0 10px;
            @include flex(center, center, wrap);

            > a[data-triggered='1'],
            > a.active {
                background-color: $darkColor;
            }

            .popup-trigger > .popup-title {
                color: $lightGray;
            }
        }
    }
}

/* MAIN */
main {
    padding: 15px 0;
    flex-grow: 1;

    .inner {
        padding: 0 15px;
        min-height: 200px;
        position: relative;
    }
}
main .inner > .top {
    @include flex(space-between, flex-start);
    margin-bottom: 20px;

    .title {
        @include flex(flex-start, center, wrap);
        margin-bottom: 3px;
    }

    .sub-title {
        font-size: 90%;
    }

    .left h1 > a {
        display: block;

        &:hover,
        &[data-triggered='1'] {
            color: $darkGray;
        }
    }

    .right {
        padding-left: 20px;
        text-align: right;
    }
}

/* COM */
.com {
    @include com();
}

/* FOOTER */
footer {
    @include flex(flex-end);
    width: 100%;
    background-color: $color;
    padding: 0 15px;

    .with-submenu {
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        &.active .trigger {
            background-color: $darkColor;
        }

        &.top .trigger {
            background-color: $darkerColor;
            text-decoration: underline;
        }

        > .popup {
            @include subMenuPopup();
        }
    }

    .popup-trigger {
        > .popup-title {
            color: $white;
        }
    }

    > * {
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    body > #wrapper {
        min-width: inherit;

        .nav-wrap {
            width: 0;

            .nav-fixed {
                width: 0;

                .logo {
                    max-width: 180px;
                    margin: auto;
                }
            }
        }

        .main-wrap {
            width: 100%;
        }
    }

    header {
        padding: 10px 60px;

        .boot-label {
            display: block;
        }

        .left {
            width: 100%;
            padding: 5px 0;
        }

        .right {
            width: 100%;
        }

        .burger-menu {
            display: block;
        }
    }
    
    main .inner > .top {
        flex-wrap: wrap;
        
        .right {
            padding-left: 0;
        }
    }
    
    footer {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* PRINT */
@media print {
    * {
        page-break-after: avoid;
    }

    body {
        background-image: none !important;
    }

    header,
    .nav-wrap,
    footer,
    main .inner > .top .right,
    .submit,
    .close {
        display: none !important;
    }

    main .inner {
        padding: 0;

        > .top .left {
            width: 100%;
        }
    }
}
