// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// specific
// stylesheet for the specific form page of the CMS

/* TOP */
[data-group='specific'] main .inner > .top .left {
    .popup-trigger {
        margin-left: 10px;
    }

    .relation-childs .not-accessible {
        font-style: italic;
    }

    .popup span {
        font-weight: normal;
    }
}
[data-group='specific'] main .inner > .top .right .nav {
    @include specificNav();
}

/* CONTAINER */
[data-group='specific'] main .inner > .container {
    position: relative;
}
[data-group='specific'] main .inner > .container .form form button.hidden {
    visibility: hidden;
    @include abs(-100%, null, null, -100%);
}
[data-group='specific'] main .inner > .container .form > .top,
[data-group='specific'] main .inner > .container .form form > .top {
    @include flex(space-between, flex-start, wrap);
    margin-bottom: 15px;
}
[data-group='specific'] main .inner > .container .form > .top .left,
[data-group='specific'] main .inner > .container .form form > .top .left {
    > ul {
        @include flex(null, center, wrap);
        list-style-type: none;

        li a {
            @include panelButton();

            h3 {
                font-size: 90%;
                font-weight: bold;
            }
        }
    }

    .description {
        padding-top: 10px;
        font-size: 90%;
    }
}
[data-group='specific'] main .inner > .container .form > .top .right .operation-element,
[data-group='specific'] main .inner > .container .form form > .top .right .operation-element {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}
[data-group='specific'] main .inner > .container .form > .inside,
[data-group='specific'] main .inner > .container .form form > .inside {
    margin-bottom: 20px;
}

/* ELEMENT */
[data-group='specific'] main .inner > .container .form .panel .form-element {
    @include flex();
    background-color: $lightestGray;
    border: 1px solid $lightGray;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px $gray;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &.required {
        .left label {
            text-decoration: underline;
        }
    }
}
[data-group='specific'] #wrapper main .form-element.exception {
    background-color: $red;
    color: $white;
    text-align: center;
    font-weight: bold;
}
[data-group='specific'] main .inner > .container .form .form-element .popup-trigger {
    @include abs(5px, 10px);
}

/* LEFT */
[data-group='specific'] .form .form-element > .left {
    width: 30%;
    padding: 15px 20px 15px 0;
    position: relative;

    .label {
        margin-bottom: 3px;

        label {
            font-weight: bold;
            cursor: default;

            &:hover {
                color: inherit;
            }
        }
    }

    .description {
        font-size: 90%;
    }

    .details {
        padding-top: 5px;
        font-size: 90%;

        > ul {
            @include ulOlMargin();

            li {
                padding: 1px 0;
            }
        }
    }
}
[data-group='specific'] main .inner > .container .form .panel .form-element.cursor-pointer > .left label {
    cursor: pointer;

    &:hover {
        color: $darkGray;
    }
}

/* RIGHT */
[data-group='specific'] .form .form-element > .right {
    width: 70%;
    padding: 0px 30px 0px 0;
}

/* BOTTOM */
[data-group='specific'] main .inner > .container .form > .bottom,
[data-group='specific'] main .inner > .container .form > form > .bottom {
    @include flex(center);
    text-align: center;

    .left {
        width: 33%;
        text-align: left;
    }
    .center {
        width: 34%;
        text-align: center;
    }
    .right {
        width: 33%;
        text-align: right;
    }

    button[type='submit'] {
        margin: 0 5px;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
    [data-group='specific'] main .inner > .container .form > .top > .right,
    [data-group='specific'] main .inner > .container .form form > .top > .right {
        width: 100%;
        padding-top: 5px;
        text-align: center;
    }

    [data-group='specific'] main .inner > .container .form .panel .form-element {
        @include responsiveFlex(flex-start, flex-start);

        > .left,
        > .right {
            @include responsiveSize();
            width: 100%;
        }

        > .left {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid $lightGray;
        }
    }

    [data-group='specific'] main .inner > .container .form > .bottom,
    [data-group='specific'] main .inner > .container .form > form > .bottom {
        justify-content: center;
        margin: 0;

        .left,
        .center,
        .right {
            @include responsiveSize();

            &.left {
                display: none;
            }
        }
    }
}

/* PRINT */
@media print {
    [data-group='specific'] main .inner > .container .top,
    [data-group='specific'] main .inner > .container .bottom {
        display: none !important;
    }

    [data-group='specific'] main .inner > .container .panel {
        display: block !important;
    }

    [data-group='specific'] main .inner > .container .form .form-element {
        background-color: $white !important;
    }
}
