// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// style
// stylesheet containing the root styling rules as well as common classes for the CMS

/* INIT */
@include reset();
@include default();
@include jqueryUi();
@include modal();
@include clickOpen();

/* HTML */
body {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
}
table,
input,
textarea,
select,
button {
}

/* TITRE */
h1 {
    font-size: 2.2rem;
    font-weight: 600;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

/* FORM */
input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid $lightGray;

    &.active,
    &:hover,
    &:focus {
        background-color: $lightYellow;
    }

    &.invalid {
        border: 1px solid $red;
        background-color: $red;
        color: $white;
    }
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $gray;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $darkGray;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $gray !important;
}
input[type='radio'],
input[type='checkbox'] {
    display: none;
}
input[type='radio'] + label,
input[type='checkbox'] + label {
    padding-left: 22px;
    background-size: 14px 14px;
    background-position: 0% 50%;
}
input[type='radio'] + label {
    @include bgimg64($iconRadioInactive);
}
input[type='checkbox'] + label {
    @include bgimg64($iconCheckboxInactive);
}
input[type='radio']:checked + label {
    @include bgimg64($iconRadioActive);
}
input[type='checkbox']:checked + label {
    @include bgimg64($iconCheckboxActive);
}
select {
    border-radius: 3px;
    border: 1px solid $lightGray;
    padding: 3px;
    font-size: 1.3rem;

    &:hover {
        background-color: $lightYellow;
    }

    &.invalid {
        border: 1px solid $red;
        background-color: $red;
        color: $white;
    }
}
label[for]:hover {
    color: $darkGray;
}
button[type='submit'],
body .submit {
    @include button();
}
a.button {
    color: $white !important;

    &:hover {
        text-decoration: none !important;
    }
}
button,
.button {
    @include inbl();
    @include transitions(opacity 0.3s);
    background: transparent;
    cursor: pointer;
    border: 0;

    &:hover {
        opacity: 0.8;
    }
}

/* PRINT */
@media print {
    * {
        page-break-after: avoid;
    }

    .popup,
    .close {
        display: none !important;
    }
}
