// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// style
// stylesheet containing the root styling rules as well as common classes for the CMS

/* INIT */
@include reset();
@include default();
@include jqueryUi();
@include modal();
@include clickOpen();

/* HTML */
body {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
}
table,
input,
textarea,
select,
button {
}

/* TITRE */
h1 {
    font-size: 2.2rem;
    font-weight: 600;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

/* FORM */
input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid $lightGray;

    &.active,
    &:hover,
    &:focus {
        background-color: $lightYellow;
    }

    &.invalid {
        border: 1px solid $red;
        background-color: $red;
        color: $white;
    }
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $gray;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $darkGray;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $gray !important;
}
input[type='radio'],
input[type='checkbox'] {
    display: none;
}
input[type='radio'] + label,
input[type='checkbox'] + label {
    padding-left: 22px;
    background-size: 14px 14px;
    background-position: 0% 50%;
}
input[type='radio'] + label {
    @include bgimg64($iconRadioInactive);
}
input[type='checkbox'] + label {
    @include bgimg64($iconCheckboxInactive);
}
input[type='radio']:checked + label {
    @include bgimg64($iconRadioActive);
}
input[type='checkbox']:checked + label {
    @include bgimg64($iconCheckboxActive);
}
label[for]:hover {
    color: $darkGray;
}
button[type='submit'],
body .submit {
    @include button();
}
a.button {
    color: $white !important;

    &:hover {
        text-decoration: none !important;
    }
}
button,
.button {
    @include inbl();
    @include transitions(opacity 0.3s);
    background: transparent;
    cursor: pointer;
    border: 0;

    &:hover {
        opacity: 0.8;
    }
}

/* COMPONENT */
.fakeselect {
    @include fakeselect();
}
.popup-trigger {
    @include popupTrigger();
}

/* LOADING */
body .loading-icon,
body [data-status='loading'] .popup,
body [data-status='loading'].popup,
.load-more[data-status='loading'],
.modal[data-status='loading'] .inner {
    @include bgimg64($iconLoading, center);
    background-size: 16px 16px;
}

/* CLOSE */
body.responsive-menu-open header > .top .burger-menu,
body .icon.close {
    @include bgimg64($iconClose);
}

/* OPACITY */
body.responsive-menu-open header > .top .burger-menu,
body .icon.close,
body .icon.search,
html body .icon.move {
    &:hover {
        opacity: 0.6;
    }
}

/* MEDIA */
[data-route='general'] main table td[data-group='media'] .media-placeholder,
form [data-group='media'] .right .block .info .media-placeholder,
form [data-table-relation='1'] .right .table-relation .popup .big-icon.storage {
    @include bgimg64($iconMedia);
}

/* VIDEO */
form [data-table-relation='1'] .right .table-relation .popup .big-icon.video {
    @include bgimg64($iconVideo);
}

/* INFO */
body .icon.info,
body .popup-trigger.with-icon .popup-title,
body .popup-trigger.with-icon-solo .popup-title {
    @include bgimg64($iconInfo);
}

/* MOVE */
html body .icon.move {
    @include bgimg64($iconMove);
    cursor: move;
}

/* CLASSE */
body .icon {
    &.solo {
        @include iconSolo();
    }

    &.padLeft {
        @include iconLeft();
    }

    &.center {
        @include iconCenter();
    }
}

/* ICON */
body .icon.account {
    @include bgimg64($iconAccount);
}
body .icon.add {
    @include bgimg64($iconAdd);
}
body .icon.burger {
    @include bgimg64($iconBurger);
}
body .icon.check {
    @include bgimg64($iconCheck);
}
body .icon.cols {
    @include bgimg64($iconCols);
}
body .icon.copy {
    @include bgimg64($iconCopy);
}
body .icon.download {
    @include bgimg64($iconDownload);
}
body .icon.email {
    @include bgimg64($iconEmail);
}
body .icon.filter {
    @include bgimg64($iconFilter);
}
body .icon.help {
    @include bgimg64($iconHelp);
}
body .icon.login,
body .icon.logout {
    @include bgimg64($iconLogin);
}
body .icon.minus {
    @include bgimg64($iconMinus);
}
body .icon.modify {
    @include bgimg64($iconModify);
}
body .icon.password {
    @include bgimg64($iconPassword);
}
body .icon.plus {
    @include bgimg64($iconPlus);
}
body .icon.remove,
body .icon.multi-delete,
body .icon.truncate {
    @include bgimg64($iconRemove);
}
body .icon.reset,
body .icon.regenerate {
    @include bgimg64($iconReset);
}
body .icon.search {
    @include bgimg64($iconSearch);
}
body .icon.uncheck {
    @include bgimg64($iconUncheck);
}
body .icon.view {
    @include bgimg64($iconView);
}
